/**
 *  Teens for Jeans CSS
 */

#header, #main-wrapper {
  background: url('images/bg.jpg');;
}

#header {
  margin-left: 0;
  height: 154px;
}

#logo {
  left: 0;
}

#primary-nav { left: 202px; }

#content-area {
  margin-top: 15px;
}

#main-wrapper {
  background-position: -34px -154px;
}

#content {
  font-family: 'DINWebCond';
  font-size: 18px;
  line-height: 1em;
  width: 770px;
  margin: 0 40px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
}

#content .section {
  margin: 0 auto;
  width: 545px;
}

h2.title { display: none; }

.node-type-webform h2.title { display: block; }

#campaign-dates {
  text-shadow: 0px 0px 10px #666666;
  filter: dropshadow(color=#666666, offx=0, offy=0);
  font-size: 28px;
  line-height: 1em;
  font-family: DINWebCondBlack;
  color: #041F3D;
  text-align: center;
  margin: 10px;
}

div.tabs {
  position: absolute;
  top: 150px;
  right: 100px;
  z-index: 100;
}

#block-webform-client-block-720997 {
  background: #00AB4E;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

#block-webform-client-block-720997 .webform-component {
  float: left;
  margin-left: 10px;
}

#block-webform-client-block-720997 .webform-component:first-child {
  float: none;
}

#block-webform-client-block-720997 .webform-component label {
  font-family: 'DINWebCondMedium';
  font-weight: normal;
  font-size: 19px;
}

#block-webform-client-block-720997 .webform-component input {
  width: 212px;
  line-height: 28px;
  font-size: 18px;
  border: 0;
}

#webform-client-form-720997 .form-submit {
  margin-top: 31px;
  height: 34px;
  width: 86px;
  background: url('/sites/all/micro/t4j-2012/submit-blue.png') no-repeat;
  position: relative; 
  cursor: pointer;
  border: none; 
  float: left;
  margin-left: 6px;
  text-indent:-9999px;
  text-transform: capitalize;
}

.mid-text {
  color: #fff;
  font-family: 'DINWebCond';
  font-size: 31px;
  margin: 15px 0px 0px 0px;
  font-weight: 600;
  text-align: center;
}

.blue-box {
  background: #0C5FA7;
  margin: 0 0 15px 0;
  padding: 0;
  color: white;
}

.blue-box ul {
  margin: 15px 0;
}

.blue-box li {
  margin: 10px;
  list-style-image: url('images/ul-arrow-white.png');
}

div.node .blue-box h2 {
  margin: 0;
  padding: 2px 2px 0 2px;
  background: #222222;
  color: white;
}

.squares {
  background: #e3e3e3;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: left;
  width: 230px;
  margin-left: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #666666;
  -moz-box-shadow: 0px 0px 10px 0px #666666;
  box-shadow: 0px 0px 10px 0px #666666;
  height: 200px;
  position: relative;
  text-align: center;
}

div.node .squares h2 {
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  color: white;
  font-size: 27px;
  background: #00AB4E;
  margin-bottom: 3px;
  margin-top: 0;
}

.squares ul {
  text-align: left;
  padding-left: 15px;
  list-style-image: url('images/bullet-green.png');
}

.squares .box-button {
  position: absolute;
  text-decoration: none;
  right: 10px;
  bottom: 5px;
  background: #00AB4E;
  padding: 5px 10px 3px;
  font-family: DINWebCondBlack;
  font-size: 16px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: white;
  text-transform: uppercase;
}

.squares:first-child {
  margin-left: -1px;
}

.outside-margin {
  margin-left: -87px !important;
  margin-right: -88px !important;
}

.sponsor {
  float: right;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  line-height: 1.4em;
  font-family: DINWebCondBlack;
}
.sponsor a { color: black; text-decoration: underline; }

/**
 * Header hacks!
 */

#primary-nav li.whatsyourthing a {
  background: url('/sites/all/micro/membership/whats.png') no-repeat 0 0;
}

#primary-nav li.actnow a {
  background: url('/sites/all/micro/membership/act.png') no-repeat 0 0;
}

#primary-nav li.programs a {
  background: url('/sites/all/micro/membership/share.png') no-repeat 0 0;
}

#photo-viewer {
  width: 700px;
  height: 420px;
  padding: 10px;
  background: #231F20;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#photo-viewer img {
  background: white;
}

h2, div.node h2 {
  text-transform: uppercase;
  font-family: DINWebCondBlack;
  background: #041F3D;
  margin: 0;
  color: white;
  font-weight: normal;
  padding: 2px 5px 0;
  margin-top: 15px;
}

h2 a:link, h2 a:visited, h2 a:hover, h2 a:active {
  color: white;
  text-decoration: none;
  text-transform: none;
  font-size: .6em;
}

h2 .green {
  margin: 0;
  font-size: 1.8em;
  vertical-align: middle;
}
div.view-content tbody tr:hover {
  background: none;
}

div.view-content td {
  width: 140px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.green {
  color: #19A854;
  text-transform: uppercase;
}

#node-726866 .green {
  margin-left: -.8em;
  margin-top: 8px;
  margin-bottom: 5px;
}

#node-726893 .green {
  font-size: 1.8em;
  line-height: 1em;
  font-family: DINWebCondBlack;
}

#main-wrapper p {
  font-size: 1.2em;
  line-height: 1em;
  font-family: DINWebCondBlack;
  margin: 1em 0;
  color: #041F3D;
}

.grey-box, .node-type-webform .content {
  background: #e3e3e3;
  padding: 10px 20px;
}

.grey-box ul {
  list-style-image: url('images/nav-arrow-black.png');
}

.grey-box li {
  margin: 5px 0;
}

a:link, a:visited, a:hover, a:active, li a.active {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#webform-component-first-name, #webform-component-last-name {
  float: left;
}

#webform-component-email-address {
  clear: both;
}

#school-counter {
  font-size: 6em;
  line-height: 1em;
  font-family: DINWebCondBlack;
}

#edit-field-name-f-0-value-wrapper, #edit-field-name-l-0-value-wrapper {
  float: left;
}

#edit-title-wrapper {
  clear: both;
}

#node-form input[type=text], #node-form table, .description {
  width: 90%;
}

.filefield-element, .filefield-element .widget-edit .form-item {
  margin: 0;
}

.form-item label, th {
  font-weight: normal;
}

.description {
  background: white;
}

#node-form input[type=text] {
  border: 0;
}

tr.even, tr.odd {
  background: none;
}

#field-campaign-pictures-items tbody tr {
  background: white;
}

#node-form #edit-submit {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #00AB4E;
  color: white;
  padding: 2px 10px 0;
  border: 0;
  font-family: DINWebCondBlack;
  font-size: 1.1em;
  cursor: pointer;
}

/**
 * Main navigation
 */

ul.links {
  padding-bottom: 18px;
  position: absolute;
  right: -18px;
  width: 170px;
  background: url('images/nav-triangle-3a3a3a.png') no-repeat right bottom;
}

ul.links li {
  list-style: none;
  background: #041F3D;
  padding: 3px 0 0 0;
  margin: 0;
  font-family: DINWebCond;
  line-height: 1em;
  display: block;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

ul.links li:last-child {
  border: none;
}

ul.links li a {
  color: #007DB4;
  text-decoration: none;
  padding-left: 20px;
}

ul.links li a.active {
  color: white;
  background-image: url('images/nav-arrow-white.png');
  background-repeat: no-repeat;
  background-position: center left;
}

ul.links li a:hover {
  color: white;
}

/**
 * FAQ
 */

#faq {
  position: absolute;
  top: 285px;
  right: 56px;
}

#sb-player {
  background: #00AB4E;
  font-family: DINWebCond;
}

#sb-player p {
  line-height: 1em;
  font-size: 1.1em;
}

#sb-player .q {
  color: white;
  font-family: DINWebCondBlack;
  margin-top: 20px;
  line-height: 1em;
  font-size: 30px;
}

.pad-me {
  padding: 10px;
}

.faq-title-wrapper {
  background: url('images/faq-down.png') no-repeat center bottom;
  padding-bottom: 20px;
}

.faq-title-wrapper h1 {
  text-align: center;
  background: white;
  color: black;
  margin: 0;
  font-family: DINWebCondBlack;
  font-size: 100px;
  line-height: 1em;
  padding-top: 10px;
}

#sb-player .q a {
  color: white;
}

