#quiz-questions .answer-box { display:block; margin: 0.4em 0; }
#quiz-container { width: 350px; float: left; overflow: hidden; }
#quiz-window { width: 25000px; float: left; }
#quiz-questions { font-size: 13px; }
#quiz-questions legend { font-size: 15px; }
#quiz-questions .guide { font-size: 11px; padding-bottom: 8px; }
#quiz-questions fieldset { float: left; border: none; width: 350px; padding: 0px; margin: 0px;}
#quiz-questions input { display: inline; }
#quiz-questions label { display: inline; vertical-align: top; margin: 0 0 0 5px; }
#quiz-container .arrow.right { outline: none; float:left; display: block; width: 138px; height: 30px; background: url(next_question.png) no-repeat; text-indent: -9999em; }
#quiz-container .arrow.left { float:left; padding: 17px 20px;}
#quiz-container #quiz-end { outline: none; float: left; display: block; width: 81px; height: 30px; background: url(results.png) no-repeat; text-indent: -9999em; }
