#main-wrapper {
	padding: 0px;
}

#content { 
    background: #fff;
    margin: 0;
    width: 100%;
}

#block-webform-client-block-720951 .content {
	min-height: 720px;
}

.node h2.title, 
#intro h2.title,
#block-webform-client-block-720951 h2.title,
#block-webform-client-block-720997 h2.title {
	display: none; 
}

h2 {
	font-family: 'DINWebCondMedium';
	color: #fff !important;
	font-size: 51px !important;
}

.big-text {
	color: #fff;
	font-family: 'DINWebCondMedium';
	font-size: 46px;
	line-height: 41px;
}

.mid-text {
	color: #fff;
	font-family: 'DINWebCond';
	font-size: 31px;
	margin: 15px 0px 0px 4px;
	font-weight: 600;
	text-align: center;
}

.small-text {
	font-family: 'DINWebCondMedium';
	font-size: 28px;
}

.black {
	color: #000 !important;
}

#campaign-date-header { 
	position: absolute;
	left: 280px;
	top: -80px;
}

#t4j-logo-with-sponsors {  
	position: absolute;
	top: -5px;
	margin-left: 105px;
}

#t4j-logo-with-sponsors-splash {  
	width: 555px;
	margin-left: 157px;
}

#block-webform-client-block-720997 {
  background: #00AB4E;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  
  margin: 10px 0px 50px 160px;
  width: 553px;
}

#block-webform-client-block-720997 .webform-component {
	float: left;
	margin-left: 10px;
}

#block-webform-client-block-720997 .webform-component label {
	font-family: 'DINWebCondMedium';
	font-weight: normal;
	font-size: 19px;
}

#block-webform-client-block-720997 .webform-component input {
	width: 220px;
	line-height: 28px;
	font-size: 18px;
	border: 0;
}

#webform-client-form-720997 .form-submit {
	margin-top: 31px;
	height: 34px;
	width: 86px;
	background: url('/sites/all/micro/t4j-2012/submit-blue.png') no-repeat;
	position: relative; 
	cursor: pointer;
    border: none; 
	float: left;

	margin-left: 6px;
	text-indent:-9999px;
	text-transform: capitalize;
}

#webform-client-form-720951 {
	background: url('sign-up-here.png') no-repeat #041f3d;
	width: 280px;
	color: #fff;
	
	display: block;   
	margin-left: auto;   
	margin-right: auto; 
	
	margin-top: 200px;
	padding: 150px 140px 20px 140px;
}

#webform-client-form-720951 .form-item {
	margin: 7px;
}

#webform-client-form-720951 .form-item input {
	border: 0px;
}

#webform-client-form-720951 .form-item label,
#webform-client-form-720951 legend {
	font-family: 'DINWebCond';
	font-weight: normal;
	font-size: 18px;
}

#webform-client-form-720951 .form-submit {
	margin-left: 300px;
	margin-top: 5px;
	height: 34px;
	width: 86px;
	background: url('/sites/all/micro/t4j-2012/submit-green.png') no-repeat;
	position: relative; 
	cursor: pointer;
    border: none;

	text-indent:-9999px;
	text-transform: capitalize;
}

#webform-client-form-720951 #webform-component-receive-tfj-banner .form-item label,
#webform-client-form-720951 #webform-component-address-info legend {
	font-size: 21px;
}

#webform-client-form-720951 #webform-component-address-info {
	border: 0;
}

#webform-client-form-720951 #webform-component-first-name,
#webform-client-form-720951 #webform-component-address-info--state,
#webform-client-form-720951 #webform-component-address-info--zip-code,
#webform-client-form-720951 #webform-component-last-name {
	float: left;
}

#webform-client-form-720951 #webform-component-first-name,
#webform-client-form-720951 #webform-component-last-name {
	width: 50%;
}

#webform-client-form-720951 #webform-component-email-address,
#webform-client-form-720951 .form-submit {
	clear: both;
}

#webform-component-contest-rules {
	
}

img#portrait-pics-right {
	right:-40px;
	position: absolute;	
	top: 330px;
	z-index: 1;
}

img#portrait-pics-left {
	left:-70px;
	position: absolute;	
	top: 330px;
	z-index: 1;
}

#signup-page img#portrait-pics-right,
#signup-page img#portrait-pics-left {
	top: 270px;
}

#sign-up-your-school {
  background: url('/sites/all/micro/t4j-2012/sign-up-your-school.png') no-repeat;
  width: 553px;
  height: 334px;
 
	display: block;   
	margin-left: auto;   
	margin-right: auto;
}

#sign-up-your-school img {
	margin-left: 228px;
	margin-top: 288px;
}

#quick-stats {
	margin-top: 50px;
	margin-bottom: 20px;
}

#invite-your-friends {
	margin-bottom: 30px;
}

#more-info-email {
	margin: 10px 0px 10px 10px;
}

#social-icons #facebook {
	float: left;
	margin-left: 404px;
}

#social-icons #twitter {
	float: left;
	margin-left: 4px;
}

.center-image {	
	display: block;   
	margin-left: auto;   
	margin-right: auto; 
} 

.clear-both {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}