#action-matrix select {
  width: 238px;
}

#action-matrix .customStyleSelectBox {
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  padding: 5px 31px 5px 5px;
  margin-bottom: 2px;
}

#action-matrix .customStyleSelectBoxInner {
  width: 185px;
}

#action-matrix .cs-cause {
  background: #fec333 url(../images/actnow_cause.png) no-repeat top right;
}

#action-matrix .cs-who {
  background: #48bcdc url(../images/actnow_who.png) no-repeat top right;
}

#action-matrix .cs-where {
  background: #32889e url(../images/actnow_where.png) no-repeat top right;
}

#action-matrix .cs-time {
  background: #0f3b70 url(../images/actnow_time.png) no-repeat top right;
}

div#block-dosomething_matrix-1 {
  margin-top: 2em;
}

div#block-dosomething_matrix-1 h2.pane-title,
div.pane-dosomething-matrix-1 h2.pane-title {
  display: none;
}

div#block-dosomething_matrix-1 #action-matrix p,
div.pane-dosomething-matrix-1 #action-matrix p {
  color: #666;
}

#block-dosomething_matrix-1 #action-matrix .customStyleSelectBox,
.pane-dosomething-matrix-1 #action-matrix .customStyleSelectBox {
  width: 428px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
}
