#block-dosomething_matrix-0 #action-matrix select {
  width: 238px;
}

#action-matrix .customStyleSelectBox {
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  padding: 5px 31px 5px 5px;
  margin-bottom: 2px;
  background: #fec333 url(../images/actnow_arrows.png) no-repeat 100% 0;
  height: 14px;
}

#action-matrix .customStyleSelectBoxInner {
  width: 185px;
}

#action-matrix .cs-who {
  background-color: #48bcdc;
  background-position: 100% -24px;
}

#action-matrix .cs-where {
  background-color: #32889e;
  background-position: 100% -48px;
}

#action-matrix .cs-time {
  background-color: #0f3b70;
  background-position: 100% -72px;
}

div#block-dosomething_matrix-1 {
  margin-top: 2em;
}

div#block-dosomething_matrix-1 h2.pane-title,
div.pane-dosomething-matrix-1 h2.pane-title {
  display: none;
}

div#block-dosomething_matrix-1 #action-matrix p,
div.pane-dosomething-matrix-1 #action-matrix p {
  color: #666;
}

#block-dosomething_matrix-1 #action-matrix .customStyleSelectBox,
.pane-dosomething-matrix-1 #action-matrix .customStyleSelectBox {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  width: 428px;
  margin-bottom: 4px;
}

.pane-dosomething-matrix-1 #action-matrix select {
  max-width: none;
  width: 465px;
}
