/* development specific */

#dev-box {
  position: fixed;
  top: 20px;
  left: 10px;
  width: 130px;
  font-size: 13px;
  z-index: 100;
}

#dev-box .blue {
  padding: 5px;
}

#dev-notes-form-container {
  display: none;
}

#dev-notes-form-container span {
  color: #0f3b70;
}

#dev-notes-form-container textarea {
  width: 90%;
  height: 80px;
}
