/* Additions to zen base that don't need to be overwrittern (e.g. widths in layout-fixed.css */

body {
  background-color: #0f3b70;
}

#main-wrapper,
#header {
  background-color: white;
}

#main-wrapper {
  padding-bottom: 30px;
}

#header {
  height: 160px;
}

body div#page-wrapper #page {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 13px;
  margin-top: 38px;
}

div.block.blue {
  padding: 0 10px;
  background-color: #def3f9;
}

div.node h2 {
  margin: 0 0 0em;
  font-size: 2em;
  color: #48BCDC;
}

a:link,
a:visited,
a:hover,
a:active,
li a.active {
  color: #48bcdc;
  text-decoration: none;
}

a:hover {
  color: #48bcdc;
  text-decoration: underline;
}

.item-list .pager li {
  padding: 0.25em;
}

.item-list .pager li a {
  padding: 0;
}

#footer ul {
  list-style-type: none;
  list-style-image: none;
}

#footer ul li {
  float: left;
  padding: 0 10px 0 10px;
  color: white;
  border-right: 1px solid #48bcdc;
}

#footer ul li a {
  color: white;
}

#footer ul li a:hover {
  color: #48bcdc;
}

#header {
  position: relative;
}

#logo {
  position: absolute;
  left: -34px;
  top: -2px;
}

#primary-nav {
  position: absolute;
  list-style-type: none;
  top: -52px;
  left: 168px;
}

#primary-nav li {
  float: left;
  text-indent: -9999em;
}

#primary-nav li a {
  width: 170px;
  height: 130px;
  display: block;
}

#header #primary-nav li a:hover {
  background-position: 0 -130px;
}

#primary-nav li.whatsyourthing a {
  background: url(../images/nav_whats.gif) no-repeat 0 0;
}

#primary-nav li.actnow {
  width: 144px;
}

#primary-nav li.actnow a {
  background: url(../images/nav_act.gif) no-repeat 0 0;
}

#primary-nav li.programs a {
  background: url(../images/nav_share.gif) no-repeat 0 0;
}

#sign-up {
  position: absolute;
  width: 177px;
  top: -38px;
  right: -10px;
}

#sign-up .blue {
  background-color: #def3f9;
  padding: 13px;
  -webkit-box-shadow: -1px 1px 5px rgba(0,0,0,0.25);
  margin-top: 3px;
}

#sign-up .blue h3 {
  margin: 0;
}

#sign-up .text {
  text-align: center;
}

#sign-up .text a {
  color: #fec333;
}

h3 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

#sign-up h3 {
  color: #0f3b70;
}

#sign-up p {
  margin: 0.4em 0 0;
}

#sign-up input.short {
  width: 90px;
}

.panel-pane h3 {
  margin: 1em 0;
}

.panel-pane p,
.node p {
  color: #0f3b70;
}

.cause-links {
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: #def3f9;
}

.cause-links strong {
  font-size: 1.1em;
}

.chatterbox-photo {
  float: right;
  padding: 10px 0 10px 10px;
}

.node-teaser .chatterbox-photo {
  float: left;
  margin: 10px 10px 10px 0;
}

.node-teaser.node-type-chatterbox .content ul {
  clear: both;
}

hr {
  height: 0px;
  border-width: 0px;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  clear: both;
}

.blue ol {
  margin: 0 0 1em;
  padding: 0;
}

div.block.features {
  width: 496px;
  padding: 1em 5px 0;
  position: relative;
}

div.block.features div.content {
  margin: 1em 0 1em -7px;
  padding: 4px 5px 0 3px;
  height: 245px;
  width: 501px;
  background: #1D4287 url("../images/feature_bg.png") no-repeat top center;
}

.dhtml-slider {
  overflow: hidden !important;
  height: 240px !important;
}

.dhtml-slider .frame
{
  display: none;
}

.dhtml-slider .frame.first
{
  display: block;
}

#content-area div.dhtml-slider div.col_left {
  float: left;
  margin-right: 0;
}

div.block.features div.col_right {
  padding: 0 20px;
  width: 238px;
  float: right;
}

div.block.features div.col_right h3 {
  font-size: 20px;
  line-height: 1.1em;
  margin: 0.7em 0;
  padding: 0;
}

div.block.features div.col_right p {
  color: white;
  margin: 0 0 1em;
}

div.block.features div.col_left img {
  padding: 0px;
}

a.more {
  display: inline-block;
  padding: 0 13px 1px 0;
  font-weight: bold;
  font-size: 11px;
  color: #48BCDC;
  background: url("../images/more.png") no-repeat center right;
}

div.block.features a.more {
  font-size: 1em;
  background-image: url("../images/more_feature.png");
}

div.block.features p.nav a.prev {
  padding: 0 8px 5px 25px;
  background: url("../images/feature_prev.png") no-repeat top left;
}

div.block.features p.nav a:hover {
  color: #0F3B70;
  text-decoration: none;
  border: 0;
}

div.block.features p.nav a.prev:hover {
  background: url("../images/feature_prev_ovr.png") no-repeat top left;
}

div.block.features p.nav a.next {
  padding: 0 25px 5px 8px;
  background: url("../images/feature_next.png") no-repeat top right;
}

div.block.features p.nav a.next:hover {
  background: url("../images/feature_next_ovr.png") no-repeat top right;
}

div.block.features p.nav {
  margin: 7px 0 0;
  text-align: right;
  font-size: 12px;
}

div.block.features p.nav img {
  vertical-align: middle;
  float: none;
  padding: 0;
}

div.section h1 {
  margin: 0 0 0em;
  font-size: 2em;
  color: #48BCDC;
}

ol.big-blue {
  padding: 0 0 0 40px;
  margin: 1em 0;
}

ol.big-blue li {
  color: #48BCDC;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

ol.big-blue li li,
ol.big-blue li .not-so-big-blue {
  margin-bottom: 0;
  font-size: 13px;
  color: black;
  font-weight: normal;
}

img.goright {
  float: right;
  padding: 10px;
}

div.callout {
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.node-type-page h3 {
  margin: 1em 0;
}

.box {
  position: relative;
  margin: 1em 0;
}

.box h2.header {
  position: absolute;
  top: -14px;
  left: 7px;
}

.box-pod {
  margin-top: 2em;
  padding-top: 20px;
}

.box-pod h2.header {
  top: -30px;
}

.box-pod .col_left img {
  float: left;
  padding: 0 10px 10px 0;
}

#mission {
  position: absolute;
  left: 240px;
  top: 110px;
  width: 430px;
  color: #0f3b70;
  font-size: 1.1em;
}

#mission strong {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  color: #48bcdc;
}

div.block ul li {
  float: left;
  padding: 0 7px 0 5px;
  background: url("/sites/all/themes/zen/dosomething/./images/ul_divider.png") no-repeat right;
}

div.block ul li.first {
  padding-left: 0;
  border-left: 0;
}

div.block ul li.last {
  padding-right: 0;
  border-right: 0;
  background: none;
}

div.block ol li {
  margin: 0 0 0.4em 1.5em;
  padding-top: 0;
  color: #F2BE3A;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 0.9em;
}

div.block ol li a {
  font-size: 13px;
}

div.block ol {
  margin: 0 0 1em;
  padding: 0;
}

div.block.pink {
  background: #f4f1ed;
  padding: 0 15px 15px;
}

div.block h2 {
  position: relative;
  top: -16px;
}

div.node-type-poll h2 {
  font-size: 13px;
  color: #055494;
  padding-top: 20px;
}

div.node-type-poll span.submitted {
  display: none;
}

img.alignleft {
  margin: 0 1em 1em 0;
}

div.block ul {
  clear: both;
  margin: 0;
  padding: 0 0 1.2em;
  list-style-type: none;
  font-size: 0.85em;
}
ul.logolist {
  list-style-image: url("/sites/all/themes/zen/dosomething/./images/logobullet.gif") !important;
  padding-left: 20px !important;
}

div.block ul li {
  padding: 0 7px 0 5px;
}

ul.logolist li {
  background: none !important;
  float: none !important;
}

#main-wrapper p {
  margin: 0 0 1em;
}

div.block .col_left {
  float: left;
  margin-right: 15px;
}

div.col_left img {
  padding-bottom: 0.5em;
}

div.block h4 {
  margin: 0 0 0.5em;
  font-size: 1em;
  line-height: 1.2em;
}

div.block {
  display: block;
  margin: 0 0 37px;
}

img.goleft {
  float: left;
  padding: 10px;
}

div.box.blue {
  background: #DEF3F9;
}

div.box {
  padding: 0px 15px 15px 15px;
  margin: 1em 0;
}

div.box h2 {
  clear: both;
  margin: 0;
  color: #0F3B70;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -16px;
}

div.callout {
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

div.callout a {
  margin: 0;
  padding: 0;
}

div.block h3 {
  margin: 0 0 1em;
  font-size: 1.1em;
  line-height: 1em;
  color: #0F3B70;
}
