/* $Id$ */

/**
 * @file
 * Panels Styling
 */

div.view-actnow-matrix .views-row {
  padding: 10px;
  clear: both;
}

div.view-actnow-matrix .views-row-odd {
  background: #def3f9;
}

div.view-actnow-matrix .views-field-field-picture-fid {
  float: left;
  padding: 0 10px 10px 0;
}

div.view-actnow-matrix .views-field-title {
  font-size: 1.1em;
  font-weight: bold;
}

/*
#panel-actnow-matrix .item-list .pager li a {
  padding-right: 4px;
}

#panel-actnow-matrix .item-list .pager li a.views-throbbing {
  color: transparent;
}
*/
