div#content div.node-type-project h2 {
  color: #48bcdc;
  font-size: 20px;
  top: -15px;
}

#map_canvas {
  width: 60%;
  float: right;
}

div.node-type-project div.box, #map_canvas {
  margin: 1em 0;
}

body.section-project div.node-type-project div.box {
  padding-top: 0;
}

#map_canvas, div#stats {
  height: 200px;
}



div#stats {
  padding-bottom: 0;
  text-align: center;
}

.node-type-project #stats  {
  width: 30%;
  float: left;
}

.node-type-project #stats p {
  margin: 0;
  padding: 0;
}

.node-type-project #stats h3 {
  text-align: center;
}

.node-type-project #stats .field-field-num-people-impacted,
.node-type-project #stats .field-field-num-people-involved {
  font-size: 40px;
  line-height: 1em;
}
