div#search-box label { font-weight: bold; font-size: 1em; }
div#search-box div#filterSelects label { display: block; }
div#search-box div#filterSelects label[for=postal-code] {display: inline;}
div#search-box .clicktip_target {padding: 5px 0px 2px; display:block;}

div.node-type-project .badges .badge {
  display: inline;
  padding: 0 5px;
}

/* BEGIN INDIVIDUAL PROJECT */
body.section-project #page {
  line-height: normal;
}

body.section-project .number {
  color: #0F3B70;
  font-size: 40px;
}
body.section-project div.project-media {
  text-align: center;
}

body.section-project div#content div.node-type-project h2 {
  color: #48bcdc;
  font-size: 20px;
  top: -15px;
}

body.section-project #map_canvas {
  width: 60%;
  float: right;
}

body.section-project div.node-type-project div.box,
body.section-project #map_canvas {
  margin: 1em 0;
}

body.section-project div.node-type-project div.box {
  padding-top: 0;
}

body.section-project #map_canvas,
body.section-project div#stats {
  min-height: 200px;
}

body.section-project div#stats {
  padding-bottom: 0;
  text-align: center;
}

body.section-project .node-type-project #stats  {
  width: 30%;
  float: left;
}

body.section-project .node-type-project #stats p {
  margin: 0;
  padding: 0;
}

body.section-project .node-type-project #stats h3 {
  text-align: center;
}

body.section-project .node-type-project #stats .field-field-num-people-impacted,
body.section-project .node-type-project #stats .field-field-num-people-involved {
  font-size: 40px;
  line-height: 1em;
}
/* END INDIVIDUAL PROJECT */

div.panel-pane .node-type-project.node-teaser {
  padding: 10px;
}

.node-type-project.node-teaser img {
  float: left;
  padding: 0 10px 0 0;
}

.node-type-project.node-teaser .submitted {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.node-type-project .view-display-id-block_1 h3 {
  color: black;
}

.node-type-project.node-teaser h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.view-project-updates .views-row {
  background-color: #def3f9;
  margin: 1em 0;
  padding: 15px;
}

.view-project-updates label, .view-project-updates .views-field-title {
  font-weight: bold;
}

.view-project-updates .views-field-field-project-photo-fid .field-item {
  float: left;
  padding: 3px;
}

.view-project-updates .views-field-created,
.project-update-date {
  text-align: right;
  font-size: 0.9em;
  font-weight: bold;
}

.node-type-project h3 {
  font-size: 1.4em;
  color: #48bcdc;
  margin: 0;
  padding: 0;
}

/* list of projects in views */

div.view-projects-list div.view-content div.views-row {
  margin: 1em 0;
  padding: 5px;
}

div.view-projects-list div.view-content div.views-row-odd {
  background-color: #def3f9;
}

div.view-projects-list div.views-field-field-project-photo-fid {
  float: left;
}

div.view-projects-list div.views-field-field-project-photo-fid div.field-content {
  line-height: 0;
}

div.view-projects-list div.views-field-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding-left: 122px;
  padding-bottom: 5px;
}

div.view-projects-list div.views-field-field-essay-see-it-value {
  padding-left: 122px;
}

div.node-type-project div.box {
  position: relative;
  padding-bottom: 5px;
  padding-top: 15px;
}
