/* $Id$ */

/**
 * @file
 * Views Styling
 */

div.view-projects-boxes.boxes-default a.more2 {
  float: right;
}

div.view-projects-boxes.boxes-default .view-footer {
  padding: 10px 10px 0px 0px;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-last hr {
  display: none;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row hr {
  border-top: 1px solid #DEF3F9;
  width: 150px;
  margin-left: 48px;
}

div.view-projects-boxes.boxes-default .views-field-field-embedded-video-embed,
div.view-projects-boxes.boxes-default .views-field-field-project-photo-fid
{
  float: left;
}

div.view-projects-boxes.boxes-default .views-field-title-1 {
  padding-left: 46px;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row {
  padding: 2px 6px;
}

div.view-projects-boxes.boxes-default {
  border: 2px solid #DEF3F9;
  padding-bottom: 10px;
}

body.page-projects div.panels-flexible-row {
  padding: 18px 0px;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-first .views-field-field-embedded-video-embed,
div.view-projects-boxes.boxes-default div.view-content div.views-row-first .views-field-field-project-photo-fid {
  width: 99%;
  min-height: 120px;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-first {
  padding-top: 20px !important;
  padding-bottom: 6px !important;
  margin-bottom: 10px;
  background-color: #DEF3F9;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-first div.views-field-title {
  text-align: center;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-middle div.views-field-title,
div.view-projects-boxes.boxes-default div.view-content div.views-row-last div.views-field-title,
div.view-projects-boxes.boxes-default div.view-content div.views-row-first div.views-field-title-1 {
  display: none;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-first img.play {
  position: absolute;
  padding: 15px 0px 0px 82px;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-middle img,
div.view-projects-boxes.boxes-default div.view-content div.views-row-last img {
  width: auto !important;
  height: 26px !important;
}

div.view-projects-boxes.boxes-default div.view-content div.views-row-first img {
  display: block;
  margin: 0 auto;
  padding: 3px 0;
}


div.view-projects-search.view-display-id-panel_pane_2 div.controls {
  text-align: right;
  padding: 0 10px 5px 0;
}

div.view-projects-search.view-display-id-panel_pane_2 div.item-list ul li {
  list-style-image: none;
  clear: both;
}

div.view-projects-search.view-display-id-panel_pane_2 {
  background-color: #DEF3F9;
  padding: 5px 8px;
}

div.view-projects-search.view-display-id-panel_pane_2 div.view-content {
  min-height: 100px;
}

div.view-projects-boxes .view-header,
div.view-projects-search .view-header {
  position: relative;
}

div.view-projects-boxes .view-header h2,
div.view-projects-search .view-header h2 {
  position: absolute;
  top: -29px;
  left: 5px;
}

#views-exposed-form-grant-database-page-1 {
  padding: 5px;
  background: #EEE;
}

.view-grant-database #edit-keys-wrapper input[type=text] {
  width: 400px;
}

.view-rants-archive .title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 5px;
  line-height: normal;
}

.view-front-scroller {
  background-color: #48bcdc;
  margin-left: -59px;
  width: 530px;
  padding: 10px;
}

.view-front-scroller .view-content {
  line-height: 0px;
  display: block;
}

.view-front-scroller #profiler-thumbnails {
  width: 75px;
  float: left;
}

.view-front-scroller #profiler-thumbnails div.activeSlide {
  border: 2px solid #fec333;
}

.view-front-scroller #profiler-thumbnails img {
  width: 71px;
  height: 71px;
}

.view-front-scroller #profiler-thumbnails div {
  margin-bottom: 6px;
  border: 2px solid transparent;
}

.view-front-scroller #profiler-thumbnails .row-4 {
  margin-bottom: 0px;
}

.view-front-scroller #profiler-main {
  width: 445px;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-top: 2px;
}

.view-front-scroller .slide {
  width: 445px !important;
  height: 395px !important;
  display: none;
}

.view-front-scroller .row-0 {
  display: block;
}

.view-front-scroller .slide .text {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin: 10px;
  width: 405px;
}

.view-front-scroller .slide a {
  display: block;
}

.view-front-scroller .slide .text h2,
.view-front-scroller .slide .text p {
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.view-front-scroller .slide .text h2 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #0f3b70;
  color: white;
}

.view-front-scroller .slide .text p {
  color: #48bcdc;
  font-size: 1.2em;
}

.view-Projects .views-row-odd {
  background: #def3f9;
}

.view-field-reporter .view-content {
  float: right;
  background-color: #def3f9;
  padding: 10px;
  width: 200px;
  margin: 15px 0 15px 15px;
}

.view-field-reporter .views-field-field-reporter-photo-fid {
  float: left;
  padding: 0 10px 1px 0;
}

.view-field-reporter .views-field-title {
  font-size: 1.1em;
  font-weight: bold;
}

.view-field-reporter .views-field-body {
  padding-top: 5px;
}

.chatterbox-photo {
  clear: right;
}
