#signup-form-wrap-around img {
	position: absolute;
	right:-26px;
	top: 201px;
}

/*#form-wrapper-right {
	background: url('/sites/all/micro/art-2011/img/form-right.png') no-repeat 912px 362px;
}*/
