.tabs {
  position: absolute;
  right:0px;
  top: 0px;
  width: 210px;
}

#header-message {
  position: absolute;
  top: -61px;
  top: -31px; /* override while tabs are not in place */
  left: 258px;
}

#sfs-logo {
  position:absolute;
  left: -30px;
  top: -27px;
}

#main-wrapper, #header {
  padding: 0;
}

#main #content {
  margin: 0;
}

#staples {
	background-color: #BAC000;
	border: 2px solid black;
	padding: 10px;
	width: 857px;
	margin: 135px auto 0 auto;
}

#home-main {
	padding: 18px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-radius-topleft: 0px; /* future proofing */
	-khtml-border-radius-topleft: 0px; /* for old Konqueror browsers */
}


#home-pll {
	margin: 1em 0;
}

.orange-gradient {
	/* fallback/image non-cover color */
   background-color: #F8C037;
	/* Firefox 3.6+ */
   background-image: -moz-linear-gradient(#F8C037, #ea8424);
	/* Safari 4+, Chrome 1+ */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea8424), to(#F8C037));
	/* Safari 5.1+, Chrome 10+ */
   background-image: -webkit-linear-gradient(#F8C037, #ea8424);
	/* Opera 11.10+ */
   background-image: -o-linear-gradient(#F8C037, #ea8424);
}

.blue-gradient {
	/* fallback/image non-cover color */
   background-color: #007380;
	/* Firefox 3.6+ */
   background-image: -moz-linear-gradient(#007380, #005e69);
	/* Safari 4+, Chrome 1+ */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005e69), to(#007380));
	/* Safari 5.1+, Chrome 10+ */
   background-image: -webkit-linear-gradient(#007380, #005e69);
	/* Opera 11.10+ */
   background-image: -o-linear-gradient(#007380, #005e69);
}


.floral-bg {
  background-image: url('img-bg.png');
}

.shadow {
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.rounded {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* future proofing */
	-khtml-border-radius: 8px; /* for old Konqueror browsers */
}

#page #staples .button, #sb-container .button {
	background-color: #007380;
	padding: 9px 14px;
	font-size: 2em;
	line-height: 3em;
	color: white;
	font-weight: bold;
	text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

#staples a,
#staples a:link,
#staples a:visited,
#staples a:hover,
#staples a:active {
  color: #007380;
  font-weight: bold;
  font-size: 1.1em;
}

#page #staples a.button,
#page #staples a.button:link,
#page #staples a.button:visited,
#page #staples a.button:hover,
#page #staples a.button:active {
  color: white;
  text-decoration: none;
}

#page #staples input.button-medium,
#page #staples a.button-medium,
#sb-container a.button-medium {
	font-size: 1.75em;
	line-height: 1.4em;
	padding: 0 12px;
}

#start-links {
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0;
}

#start-links li {
	float: left;
	padding-right: 71px;
}

#start-links li.last {
	padding-right: 0px;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#intro {
  margin-top: 1em;
}

#intro p {
	font-style: italic;
	font-size: 1.3em;
  line-height: 1.1em;
	font-weight: bold;
	width: 40%;
	float: left;
  color: black;
  padding-left: 20px;
}

#intro ul {
	width: 40%;
	float: right;
  padding-right: 60px;
  margin: 0;
}

#intro ul li {
  margin: 0.75em 0;
}

#home-pll > img {
	float: left;
	padding: 0 0 0 20px;
}

#home-pll ul {
	list-style-type: none;
	float: right;
	padding: 20px 20px 0 0;
	margin: 0;
}

#home-pll li {
	float: left;
	padding-right: 10px;
}

a > img {
	border-width: 0px;
}

#home-footer {
	margin-top: 1em;
	position: relative;
	height: 208px;
}

#home-footer > div {
	float: left;
}

#psa {
	background-color: #F8C037;
	width: 500px;
	padding: 15px 15px 35px 15px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-radius-bottomleft: 0px; /* future proofing */
	border-radius-bottomright: 0px; /* future proofing */
	-khtml-border-radius-bottomleft: 0px; /* for old Konqueror browsers */
	-khtml-border-radius-bottomright: 0px; /* for old Konqueror browsers */
}

#get-started {
	margin-top: -40px;
	margin-bottom: 10px;
}

#home-footer-locator {
	width: 333px;
	height: 232px;
	background-image: url(locator-bg.png);
	position: absolute;
	left:	-40px;
	top: -18px;
}

#home-footer-locator form {
	position: absolute;
	left: 150px;
	top: 30px;
}

#home-footer-locator form input.zip {
	width: 70px;
  color: #aaa;
  font-weight: bold;
}

#home-footer-locator form input[type="submit"] {
	border-width: 0px;
	font-size: 18px;
  cursor: pointer;
}

#home-footer-locator a {
	position: absolute;
	bottom: 20px;
	left: 90px;
}

#home-footer-prizes {
	width: 308px;
	height: 229px;
	background-image: url(prizes-bg.png);
	position: absolute;
	left:	266px;
	top: -17px;
}

#home-footer-prizes a {
	position: absolute;
	left: 45px;
	bottom: 24px;
}

#home-footer-supplies {
	width: 347px;
	height: 238px;
	background-image: url(supplies-bg.png);
	position: absolute;
	left:	565px;
	top: -21px;
}

#home-footer-supplies a {
	position: absolute;
	right: 76px;
	bottom: 30px;
}

#sfs-sign-up {
	float: right;
	width: 280px;
}

#sfs-sign-up #node-form {
	font-size: 12px;
	line-height: 14px;
}

#sfs-sign-up #node-form img {
	margin-top: -2px;
	margin-left: 65px;
}

#sfs-sign-up #node-form input[type="text"] {
	width: 230px;
}

#sfs-sign-up #node-form input[type="submit"] {
	margin-left: 137px;
	margin-top: 3px;
	border-width: 0px;
	cursor: pointer;
	font-size: 18px;
}

#node-form label.info {
	font-weight: bold;
}

#node-form div.form-item,
#node-form div.form-checkboxes {
  margin: 0;
}

div.messages,
div.status,
div.warning,
div.error {
  margin: 30px 1em 15px 1em;
}

body div#page-wrapper #page #staples p {
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: black;
}

body div#page-wrapper #page #staples h2 {
  color: black;
}

#thanks {
  float: right;
  width: 300px;
}

.region-right .block {
  margin-bottom: 0;
}

#run-drive-banner {
  position: relative;
}

#sticky-top-right {
	position: absolute;
  right: -50px;
  top: -50px;
}

.gallery-image img {
  padding: 5px;
}

.active-image img {
  border: 5px solid #007380;
  padding: 0;
}

#image-title {
  font-size: 2em;
  margin: 0;
}

#image-description {
  font-size: 1.5em;
  margin-top: 1em !important;
}

#gallery-scroller {
  position: relative;
  height: 350px;
  width: 650px;
  margin: 0 auto;
}

#gallery-back {
  float: left;
}

#gallery-next {
  float: right;
}

.gallery-page {
  position: absolute;
  top: 0;
  left: 0;
}

#gallery-next,
#gallery-back {
  cursor: pointer;
  margin-top: 145px;
}

#drive-gallery-link {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.page-staples-for-students-pretty-little-liars #home-main {
  text-align: center;
  font-size: 1.1em;
}

#pll-stickies {
  margin: 0 -45px 0 -5px;
  line-height: 0;
  position: relative;
}

#pll-join {
  line-height: 0;
}

#pll-join {
  margin: 0 -10px;
}

#pll-raised {
  margin: 0 -1px;
}

#pll-raised div {
  display: block;
  float: left;
  height: 48px;
  padding: 10px 0;
  font-size: 2em;
  line-height: 38px;
}

#pll-share-stickies {
  position: relative;
  height: 255px;
  z-index: 0;
}

#pll-why-she-cares {
  background: url('/sites/all/micro/sfs/sticky-ashley-sm.png') no-repeat;
  background-position: 0 8px;
  width: 270px;
  height: 285px;
  text-align: left;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 180px;
}

#sticky-changer-g {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 170px;
}

#pll-why-you-care {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: url('/sites/all/micro/sfs/pll-why-care-sticky.png') no-repeat right top;
  width: 210px;
  height: 250px;
  font-size: 1.2em;
  line-height: 1.2em;
}

.why-you-care-quote {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 160px;
  display: none;
}

.visible {
  display: block;
}

#pll-share {
  text-align: left;
}

#pll-share-your-reason {
  width: 375px;
  text-align: right;
  margin-top: 50px;
  float: left;
  z-index: 1;
  position: relative;
}

#pll-home-footer {
  height: 20px;
  background: #e1592f;
  margin: 0 -18px -3px;
  position: relative;
}

#pll-home-footer, #pll-enter-win {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
}

#pll-enter-win {
  background-color: #fce599;
  background-image: url('contest-bg.png'), -moz-linear-gradient(#fce599, #f8cc38);
  background-image: url('contest-bg.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8cc38), to(#fce599));
  background-image: url('contest-bg.png'), -webkit-linear-gradient(#fce599, #f8cc38);
  background-image: url('contest-bg.png'), -o-linear-gradient(#fce599, #f8cc38);
  background-position: bottom left, top left;
  border-top: 5px solid #e1592f;
  margin: 0 -18px -20px;
}

#pll-enter-win-sub {
  background: url('/sites/all/micro/sfs/pll-etw.png') no-repeat 40px 0;
  height: 345px;
  position: relative;
  z-index: 1;
  margin-top: -20px;
}

#pll-hovers {
  position: absolute;
  top: -100px;
  left: 0;
}

#hover-ashley, #hover-lucy,
#hover-troian, #hover-shay {
  position: absolute;
  display: none;
}

#hover-ashley {
  top: -21px;
  left: 11px;
}

#hover-lucy {
  top: -19px;
  left: 189px;
}

#hover-troian {
  left: 413px;
  top: -18px;
}

#hover-shay {
  top: -18px;
  left: 600px;
}

.campaign-header {
  display: block;
  margin: 1.5em 0 .3em 0;
  clear: both;
}

.campaign-image {
  
}

.testimonials {
  float: right;
  width: 425px;
  font-size: 1.1em;
}

.testimonials blockquote {
  margin: 0;
}

.testimonials .attribution {
  text-align: right;
  font-weight: bold;
  margin: .3em 0 1em 0;
}

.prizes .goleft {
  float: left;
  margin: 0 20px 0 0;
}

.prizes img {
  display: block;
}

.prizes .campaign-header {
  padding: 1em 0 .5em 0;
  margin: 0;
}

#webform-client-form-650078 #webform-component-your-friends-emails {
  float: left;
  border: 0;
  margin: 0;
}

#webform-client-form-650078 .form-item {
  margin: 0;
}

#webform-client-form-650078 #webform-component-your-email-label,
#webform-client-form-650078 #webform-component-your-email,
#webform-client-form-650078 #edit-actions {
  margin-left: 200px;
  text-align: center;
}

#webform-client-form-650078 #edit-submit {
  color: white;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 1.4em;
  padding: 5px 12px;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  background-color: #007380;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#webform-client-form-650078 #webform-component-your-email-label img {
  margin: 0 auto;
}

#webform-client-form-650078 {
  float: right;
  margin-left: 25px;
  width: 60%;
}

#staples-nav {
  position: absolute;
  right: 10px;
  top: 114px;
  
}

#staples-nav a {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  background: #007380;
  color: white;
  margin: 0 3px;
  padding: 0 5px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid black;
}

#staples-nav a.active {
  border-bottom-color: #BAC000;
  background: #BAC000;
  color: black;
}

#sb-body {
  background: white;
  padding: 10px;
  color: black;
}

#sb-body-inner {
  position: static;
}

#sb-loading {
  background: white;
}

#sb-loading-inner {
  color: black;
}

.page-staples-for-students-pretty-little-liars #home-main {
  padding-bottom: 0;
}

#share-reason-form {
  display: none;
}

#sb-wrapper-inner {
  border: 0;
}

#sb-body {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -khtml-border-radius: 20px;
  padding: 0;background-color: #fce599;
  background-image: -moz-linear-gradient(#f8cc38, #fce599);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fce599), to(#f8cc38));
  background-image: -webkit-linear-gradient(#f8cc38, #fce599);
  background-image: -o-linear-gradient(#f8cc38, #fce599);
}

#sb-body-inner {
  text-align: center;
}

#sb-player {
  padding: 10px;
}

.staples_reason_node_form #edit-title-wrapper,
.custom-sticky {
  width: 170px;
  height: 190px;
  background-image: url('/sites/all/micro/sfs/popup-sticky.png');
  padding: 20px 30px 0 20px;
  margin: 0 auto !important;
  text-align: left;
}

.staples_reason_node_form #edit-title-wrapper {
  float: left;
}

.staples_reason_node_form #edit-title-wrapper textarea {
  width: 100%;
  height: 105px;
}

.staples_reason_node_form input {
  text-align: center;
}

.staples_reason_node_form .form-submit {
  cursor: pointer;
  background-color: #007380;
	padding: 9px 14px;
	font-size: 1.2em;
	color: white;
	font-weight: bold;
	text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  border: 0;
}

#sweeps-header {
  text-align: center;
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  line-height: 1.2em;
}

#sweeps-prizes {
  float: left;
  width: 40%;
  padding-left: 5%
}

#webform-client-form-650379 {
  margin-left: 60%;
  margin-bottom: 100px;
  width: 250px;
}

.page-staples-for-students-pretty-little-liars-sweeps #home-main {
  padding-bottom: 0;
}

.page-staples-for-students-pretty-little-liars-sweeps #pll-enter-win {
  padding-bottom: 30px;
  position: relative;
  height: 200px;
}

#webform-client-form-650379 #webform-component-share {
  width: 170px;
  height: 190px;
  background-image: url('/sites/all/micro/sfs/popup-sticky.png');
  padding: 20px 30px 0 20px;
  text-align: left;
}

#webform-client-form-650379 #webform-component-share textarea {
  width: 170px;
  height: 80px;
}

#cast, #enter-text, #enter-join {
  position: absolute;
}

#cast {
  top: -175px;
  left: 75px;
}

#enter-text {
  top: 20px;
  right: 75px;
}

#enter-join {
  top: 125px;
  right: 75px;
}
#webform-client-form-650379 .form-item, #webform-client-form-650379 .form-checkboxes {
  margin: .2em 0;
}

#webform-client-form-650379 input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  clear: both;
}

#webform-client-form-650379 #edit-submit {
  font-size: 1.75em;
  line-height: 1.4em;
  padding: 0 12px;
  background-color: #007380;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: #007380;
  background-image: -moz-linear-gradient(#007380, #005E69);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005E69), to(#007380));
  background-image: -webkit-linear-gradient(#007380, #005E69);
  background-image: -o-linear-gradient(#007380, #005E69);
  border: 0;
  color: white;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

#girl-count {
  width: 210px;
  text-align: center;
  height: 48px;
  padding: 10px 0;
  font-size: 2em;
  line-height: 38px;
  float: right;
}

#pll-why-you-care #flip-quote {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5px;
  top: 150px;
}

#fb-link {
  display: block;
  width: 183px;
  height: 40px;
  background: url('fb-share.png');
  margin: 10px auto;
  text-align: center;
}

#edit-field-thirteen-value-wrapper {
  font-size: .6em;
}