  #gradient-radial {
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 10px;
    /* For WebKit (Safari, Google Chrome etc) */
      /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 60, from(#fff), to(#999));*/
    -webkit-border-radius: 11px;
    background: -webkit-gradient(radial, 50% 50%, 89, 50% 50%, 56, from(#999), to(white));
    background: -webkit-gradient(radial, 20% 20%, 89, 50% 50%, 56, from(#999), to(white));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-radial-gradient(40% 40%, farthest-side, #fff, #999);
    /* For Internet Explorer */
    /* As if... */
  }


/*.roundedcornr_box_333701 {
   background: #dddddd url(roundedcornr_333701_grad.gif) repeat-x top left;
}
.roundedcornr_top_333701 div {
   background: url(roundedcornr_333701_tl.gif) no-repeat top left;
}
.roundedcornr_top_333701 {
   background: transparent url(roundedcornr_333701_tr.gif) no-repeat top right;
}
.roundedcornr_bottom_333701 div {
   background: url(roundedcornr_333701_bl.gif) no-repeat bottom left;
}
.roundedcornr_bottom_333701 {
   background: transparent url(roundedcornr_333701_br.gif) no-repeat bottom right;
}

.roundedcornr_top_333701 div, .roundedcornr_top_333701,
.roundedcornr_bottom_333701 div, .roundedcornr_bottom_333701 {
   width: 100%;
   height: 30px;
   font-size: 1px;
}

.roundedcornr_content_333701 { margin: 0 30px; }
*/
