.node h2.title {
	display: none;
}

.clear-both {
	clear: both;
}

/**
 * Header hacks!
 */

#primary-nav li.whatsyourthing a {
  background: url('/sites/all/micro/membership/whats.png') no-repeat 0 0;
}

#primary-nav li.actnow a {
  background: url('/sites/all/micro/membership/act.png') no-repeat 0 0;
}

#primary-nav li.programs a {
  background: url('/sites/all/micro/membership/share.png') no-repeat 0 0;
}

#header {
	margin-left: 18px;
	height: 154px;
}

#logo {
	left: -17px;
}

/**
 * End of header hacks!
 */
 
 /**
 * Main navigation
 */

ul.links {
	padding-bottom: 17px;
	position: absolute;
	left: -18px;
	top: -9px;
	width: 160px;
	background: url('images/nav-triangle.png') no-repeat left bottom;
}

ul.links li {
	list-style: none;
	background: #000;
	padding: 3px 0 0 0;
	margin: 0;
	font-family: 'DINWeb-Medium';
	display: block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
}

ul.links li:first-child {
	padding-top: 8px;
}

ul.links li:last-child {
	padding-bottom: 8px;
}

ul.links li a {
	color: #fff !important;
	text-decoration: none;
	padding-left: 20px;
}

ul.links li a.active {
	color: #FFC332 !important;
	background-image: url('images/nav-arrow-white.png');
	background-repeat: no-repeat;
	background-position: 5px 1px;
} 

ul.links li a:hover {
	color: #FFC332 !important;
}

 /**
 * Main navigation END
 */

.addthis_toolbox {
	display:none;
}

div.messages {
	font-size:22px;
	text-align:center;
	line-height:40px;
	color:#fff;
	margin-bottom:10px;
	background-color:#000;
	border-radius:10px;
	border:none!important;
	font-family: 'DINWebCond';
	background-position:10px 15px;
}

div.messages ul li {
	list-style:none;
}

div.messages a {
	color:#FFCD0A!important;
}

div.messages a:hover {
	color:#EFC123!important;
}
 
#main-wrapper, #header {
	background: url("images/bob_bg.jpg") no-repeat;
	background-color:#FFCD0A;
}

#main-wrapper {
	background-position: -18px -155px;
}

#header {
	background-position: 0 -1px;
}

#campaign-logo {
	margin:-245px 255px 0;
	display:block;
} 

#vh1-logo {
	margin:15px 180px;
	display:block;
}

#social {
	position:absolute;
	top:0;
	z-index:1;
	right:10px;
	width:175px;
	overflow:visible;
}

#social h1 {
	color:#FFCD0A;
	font-size:22px;
	font-family:'DINWebCondBold';
	text-align:left;
	margin:0;
}

#social p {
	color:#fff;
	font-family:'DINWebCondMedium';
	text-align:left;
	letter-spacing:1px;
	font-size:15px;
	margin-bottom:8px;
}

#content {
	font-family: 'DINWeb-Medium';
	font-size: 15px;
	line-height: 1em;
	width:815px!important;
}

#content a {
	text-decoration: none;
	color:#000;
}

#content ul li a {
	text-decoration: none;
	color:#D33936;
}

#greener-subheader {
  text-align: center;
  margin-top: 142px;
  color: white;
  font-family: 'DINWebCond';
  font-size: 23px;
  padding-bottom: 6px;
}

				/*		SHORT 					*/

				/*			 FORM 				*/

				/*				 STYLING		*/


#webform-component-fieldset-1 div, #webform-component-fieldset-2 div {float:left;}
#block-webform-client-block-737152 fieldset {border:none;margin:0;padding:0;}
#block-webform-client-block-737152 .form-item {margin-bottom:0;}
#block-webform-client-block-737152 #edit-actions {float:right;}
#block-webform-client-block-737152 #webform-component-fieldset-2 {margin:0 10px 10px;}
#block-webform-client-block-737152 #webform-component-fieldset-2--legal {margin-left:0;}
#block-webform-client-block-737152 #edit-submitted-fieldset-2-opt-in-1-wrapper {width:410px;}
#block-webform-client-block-737152 #edit-submitted-fieldset-2-opt-in-1-wrapper label {font-family:'DINWeb-Light';font-size:13px;}

/*
legal nonsense
*/

#webform-component-fieldset-2--legal a {
	display:block;
	color:#fff!important;
	height:15px;
	width:15px;
	cursor:default;
}

#webform-component-fieldset-2--legala.mobile_legal a:hover {
	color:#ccc!important;
	text-decoration:none!important;
	cursor:default;
}

/*	
end shortform compatability edit
*/

#edit-submitted-opt-in-1-wrapper {
	margin:-5px 0 15px 10px;
}

#block-webform-client-block-737152 .form-checkboxes {
	margin:0;
	text-align:left;
}

#block-webform-client-block-737152 .form-item input.form-text {
  width: 180px;
  line-height: 24px;
  font-size: 14px;
  border: 0;
}

#block-webform-client-block-737152, #ready-submit {
	background: #000;
	overflow: hidden;
	width: 550px;
	margin:0 auto;
	-moz-border-radius:12px; 
 	-webkit-border-radius:12px;
	-khtml-border-radius: 12px;
}

#webform-client-form-737152 p, #ready-submit h1 {
	color:#FFC332;
	font-family: 'DINWebCond';
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}

#webform-client-form-737152 p {
	margin:17px 0px 3px 0px;
}

#ready-submit h1 {
	margin:5px 0;
}

#ready-submit p, #ready-submit a {
	text-transform:uppercase;
}

#ready-submit p {
	color:#fff;
	text-align:center;
}

#ready-submit ul {
	text-align:center;
	padding:0;
	margin-bottom:20px;
}

#ready-submit li {
	display:inline-block;
}

#ready-submit .form-submit {
  background-color: #FFCD0A;
  -moz-border-radius:15px; 
  -webkit-border-radius:15px;
  -khtml-border-radius: 15px;
  border-radius:15px;
  color:#000;
  font-size:16px;
  padding:2px 15px;
  text-decoration:none;
  font-family: 'DINWebCondBlack';
  cursor: pointer;
  border: none; 
}

#block-webform-client-block-737152 .webform-component {
  float: left;
  margin-left: 15px;
}

#block-webform-client-block-737152 .webform-component-email,
#block-webform-client-block-737152 .webform-component-textfield {
	padding-left:15px;
}

#block-webform-client-block-737152 .webform-component:first-child {
  float: none;
}

#block-webform-client-block-737152 .webform-component label {
  font-family: 'DINWebCondMedium';
  font-weight: normal;
  color: #fff;
  font-size: 17px;
}

#block-webform-client-block-737152 .webform-component .form-required {
  color: #fff;
}

#block-webform-client-block-737152 .webform-component input {
  line-height: 24px;
  font-size: 14px;
  border: 0;
}

#webform-client-form-737152 .form-submit {
  background-color: #FFCD0A;
  -moz-border-radius:15px; 
  -webkit-border-radius:15px;
  -khtml-border-radius: 15px;
  border-radius:15px;
  display:inline-block;
  color:#000;
  font-size:16px;
  padding: 1px 15px 0px;
  text-decoration:none;
  font-family: 'DINWebCondBlack';
  margin:-40px 20px 0 0;
  float:right;
  position: relative; 
  cursor: pointer;
  border: none; 
  text-transform: capitalize;
}

.small-button {
  background-color:#000;
  -moz-border-radius:15px; 
  -webkit-border-radius:15px;
  -khtml-border-radius: 15px;
  border-radius:15px;
  display:inline-block;
  color:#fff;
  font-size:15px;
  padding: 5px 7px 3px 7px;
  text-decoration:none;
  font-family: 'DINWebCondMedium';
}

				/*		LONG 					*/

				/*			 FORM 				*/

				/*				 STYLING		*/


#webform-component-rules--reg {
	text-align:right;
	margin:35px 0 15px;
}

#webform-component-rules--reg a {color:#D33936!important;}

#webform-component-rules--reg a:hover {text-decoration:underline;}

#webform-component-opt-in {
	margin:0 auto;
	width:500px;
}

.webform_client_form_737134 {
	background-color:transparent;
	margin:0 auto 20px;
	padding:25px;
	width:600px;
}

.webform_client_form_737134 h3 {
	font-size:17px;
	text-align:center;
	line-height:40px;
	color:#fff;
	margin-bottom:10px;
	background-color:#000;
	border-radius:10px;

}

.webform_client_form_737134 p {
	font-size:18px;
	text-align:center;
	line-height:30px;
	color:#000;
	margin-bottom:10px;
}

#webform-component-kelly-needs-number p {
	text-align:right;
	font-size:15px;
	margin:-10px 2px -10px 0;
	font-family: "DINWeb-Light";
}

#webform-component-enter-your-mailing-address-to-receive-sweet-swag legend {
	text-align:center;
	font-size:18px;
}

#edit-submitted-birthday-wrapper .container-inline {
	float:right;
}

#webform-component-action-kit {
	width:500px;
	margin:0 auto;
}

.webform_client_form_737134 .webform-component-textfield label,
.webform_client_form_737134 .webform-component-email label,
.webform_client_form_737134 .webform-component-date .form-item label,
.webform_client_form_737134 .webform-component-webform_email label {
	display:inline;
}

.webform_client_form_737134 .webform-component-textfield input, 
.webform_client_form_737134 .webform-component-email input,
.webform_client_form_737134 #edit-submitted-email-wrapper input {
	background-color:#fff;
	border:0;
	padding:1px;
	height:25px;
	width:300px;
	float:right;
	-moz-border-radius:7px; 
	-webkit-border-radius:7px;
	-khtml-border-radius: 7px;
}

#webform-client-form-737134 .form-submit {
	background-color:#000;
	-moz-border-radius:12px; 
	-webkit-border-radius:12px;
	-khtml-border-radius: 12px;
	color:#fff;
	font-size:16px;
	padding: 1px 15px 0px;
	font-family: 'DINWebCondBlack';
	margin-right:5px;
	float:right;
	position: relative; 
	border: none;
	cursor: pointer;
}

#webform-client-form-737134 fieldset {
	border:none;
}

#webform-component-first-name {
	margin-bottom:25px;
}


				/*		REPORT 					*/

				/*			 BACK 				*/

				/*				 STYLING		*/


#node-738521 {
	background-color:transparent;
	margin:0 auto 20px;
	padding:25px;
	width:600px;
}

#node-738521 h3 {
	font-size:22px;
	text-align:center;
	line-height:40px;
	color:#fff;
	margin-bottom:10px;
	background-color:#000;
	border-radius:10px;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;
}

#node-738521 p {
	font-size:18px;
	text-align:center;
	line-height:30px;
	color:#000;
	margin-bottom:10px;
}

#webform-component-enter-your-mailing-address-to-receive-sweet-swag legend {
	text-align:center;
	font-size:18px;
}

#edit-submitted-birthday-wrapper .container-inline {
	float:right;
}

#node-738521 label {
	display:inline;
}

.form-item {
	margin-bottom:25px;
}

#node-738521 .form-item input[type="text"] {
	background-color:#fff;
	border:0;
	padding:1px;
	height:25px;
	width:300px;
	float:right;
	-moz-border-radius:7px; 
	-webkit-border-radius:7px;
	-khtml-border-radius: 7px;
}

#node-738521 .form-submit {
	background-color:#000;
	-moz-border-radius:12px; 
	-webkit-border-radius:12px;
	-khtml-border-radius: 12px;
	color:#fff;
	font-size:16px;
	padding: 1px 15px 0px;
	font-family: 'DINWebCondBlack';
	margin-right:5px;
	float:right;
	position: relative; 
	border: none;
	cursor: pointer;
}

#node-738521 fieldset {
	border:none;
}

#node-738521 .description {
	display:none;
}

#node-738521 .group-bfb-ques legend {
	font-size:22px;
	font-family:"DINWeb-Medium";
	text-align:center;
	line-height:40px;
	color:#fff;
	margin-bottom:10px;
	background-color:#000;
	border-radius:10px;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;
	width:100%;
}

#confirmation_1 {
	font-family:"DINWeb-Medium";
	font-size:15px;
	margin-right:25px;
}

#node-738521 .edit-field-state-value {
	margin-left: 460px;
	display:block;
}

#bftb-notlogged a {
	color:#D33936;
}

#bftb-notlogged a:hover {
	color:#7F2220;
}


			/*		BLOG 					*/

			/*			 SECT. 				*/

			/*				 STYLING		*/
			

/*
blog structure

becca-blog
	drupal nonsense
		.view-admin-links views-hide
		.view-header
			.blog-header - "BATTLE FOR THE BANDS BLOG"
		.view-content
			drupal nonsense
				.views-field-title
					span.field-content
				.views-field-field-picture-fid
					.field-content
						a
							img
				.views-field-field-campaign-blog-teaser-value
					.field-content - "CHECK OUT LAST YEAR'S WINNERS..."
				.views-field-path
					span.field-content
						a - "READ MORE"
		.view-footer
			.more-link
				a - "READ MORE BATTLE FOR THE BANDS POSTS"
*/

.field-content ul li {
	list-style:none;
}

.view-campaign-blog p, .view-campaign-blog a, .views-field-title a, .views-field-title p, .views-field-created a, .views-field-created p {
	font-family: "DINWeb-Medium";
}

.views-field-body, .views-field-created, .views-field-title {

}
		
#becca-blog .field-content img {
	margin:-10px 0 10px;
}

#becca-blog .views-field-title a {
	position:relative;
	top:15px;
	left:110px;
	font-size:19px;
}

#becca-blog .views-field-field-campaign-blog-teaser-value {
	position:relative;
	top:-60px;
	left:110px;
	width:700px;
}

#becca-blog .views-field-field-campaign-blog-teaser-value a {
	color:#D33936;
}

#becca-blog .view-footer a {
	text-align:right;
	font-size:17px;
	color:#D33936;
	text-decoration:none;	
}

#becca-blog .view-footer a:hover,
#becca-blog .views-field-field-campaign-blog-teaser-value a:hover {
	text-decoration:underline;
}

#becca-blog .view-footer {
	margin:-25px 0 10px;
}

#bftb-blog-img {
	float:right;
	padding:0 10px;
}

.bftb-blog ul li {
	list-style:none;
}

.views-field-created, .views-field-body {
	padding:10px 0;
}

#bftb-blog-img {
	display:none;
}

/*.view-campaign-blog .views-field-title {
	background:#000;
	width: 550px;
	margin: 0 auto 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
}

.view-campaign-blog .views-field-title a{
	color:#FFC332!important;
	font-family: 'DINWebCond';
	font-size: 28px;
	line-height: 40px;
	padding-left: 70px;
}*/

.wrap-battle-wrap .views-field-title {
	font-size:22px;
	line-height:25px;
	padding:5px 10px;
	margin:-10px -10px 0px -10px;
	background-color:#fff;
}

.wrap-battle-wrap .views-row, #bob-wrapper .chatterbox {
	border:1px solid black;
	margin-bottom:10px;
	padding:10px;
}

#bob-wrapper object {
	margin:10px auto;
	display:block;
	padding:3px;
	background-color:#fff;
}

.wrap-battle-wrap {
	width:600px;
	margin:0 auto;
}

.wrap-battle-wrap .field-content img {
	float:left;
	padding-right:15px;
}

.comment ul.links {
	display:none;
}

#bob-wrapper .bftb-blog a, .view-campaign-blog .views-field-body a {
	color:#D33936!important;
}

#bob-wrapper .bftb-blog a:hover, .view-campaign-blog .views-field-body a:hover {
	text-decoration:underline!important;
}
			/*		BATTLEBOX STYLING		*/
			

.battlebox-header {
	padding:0;
	margin-top:25px;
}

.battlebox-header h2 {
	color: #FFCD0A!important;
	font-family: 'DINWeb-Medium';
	font-size: 17px!important;
	padding: 5px 25px 2px 5px!important;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	background:#000;
	display:inline-block;
}

.battlebox-content, #battlebox-share {
	background-color:#fff;
	border:1px solid black;
	padding:10px 20px;
	font-family: 'DINWeb-Medium';
	font-size: 15px;
}

.battlebox-content {
	margin-bottom:25px;
}

#battlebox-share {
	margin:0 auto 5px;
}

#battlebox-share p {
	text-align:center;
	margin:0;
}

.battlebox-content img {
	float:left;
	margin:0;
}

.battlebox-content h3 {
	text-align: left;
	text-transform: none;
	padding: 5px 0 0 20px;
	margin-bottom: 10px;
}

.battlebox-content .arrow {
	background: url('images/black-triangle.png') no-repeat left;
	font-size:14px;
}

#battleprize-1 {
	margin-bottom:5px;
}

#battleprize-1 p {
	margin:8px 10px 0 10px;
}

#battleprize-1, #battleprize-2, #battleprize-3, #battleprize-4, .battlebox-share2, .battlebox-share3 {
	background-color:#fff;
	border:1px solid #000;
	padding:10px;
	font-family: 'DINWeb-Medium';
	font-size: 15px;
	text-align:center;
}

#battleprize-2, #battleprize-3, #battleprize-4, .battlebox-share2, .battlebox-share3 {
	width:246px;
	float:left;
	margin-bottom:20px;
}

#battleprize-2, #battleprize-3, #battleprize-4 {
	height:150px;
}

.battlebox-share2, .battlebox-share3 {
	height:110px;
}

#battleprize-2, #battleprize-3, .battlebox-share2 {
	margin-right:5px;
}

#battleprize-2 img, #battleprize-3 img, #battleprize-4 img {
	margin:20px auto;
	display:block;
}

#battleprize-2 h3, #battleprize-3 h3, #battleprize-4 h3, .battlebox-share2 h3, .battlebox-share3 h3 {
	text-transform:uppercase;
	text-align:center;
	font-size:14px;
	font-family: "DINWeb-Medium";
	margin:10px 0;
}

#battleprize-1 h3 {
	text-transform:uppercase;
	text-align:center;
	font-size:18px;
	font-family: "DINWeb-Medium";
	margin:0;
}

.dollar-right, .dollar-left, #battleprize-1 p {
	float:left;
}

.dollar-left {
	margin-left:200px;
}

p#prize-kick {
	margin:-22px 0 7px 180px;
}

p#scholarship-copy {
	margin:20px 0 0 90px;
	font-size: 20px;
}

p#scholarship-copy span {
	font-family:"DINWeb-Medium";
}

.-or- {
	padding:0 20px;
}

#judges-wrap {
	border:1px solid #000;
	padding:20px 20px 0 0;
	margin-bottom:15px;
}

.jbb-wrap, .jbs-wrap {
	float:left;
}

.jbb-wrap {
	padding-left:20px;
}

.jbs-wrap {
	padding-left:17px;
}

.jbb, .jbb-wrap img {
	width:375px;
	height:275px;
}

.jbs, .jbs-wrap img {
	width:140px;
	height:140px;
}

.jbs-extra {
	padding-left:21px;
}

.jbb-footer h1, .jbb-footer h2 {
	color: #FFCD0A!important;
	font-family: 'DINWeb-Medium';
	font-weight: 600;
	text-align:center;
	text-transform: uppercase;
	background:#000;
	margin-top:0;
}

.jbb-footer h1 {
	font-size:20px!important;
	padding: 5px 25px 2px 5px!important;
}

.jbb-footer h2 {
	font-size:15px!important;
  font-family:'DINWeb-Light';
  line-height:20px;
	padding: 5px 10px 2px 5px!important;
  width:125px;
}

.jbb-footer {
	margin-bottom:15px;
}

				
				/*		CELEB GALLERY STYLING		*/


.bftb-celeb-gallery .views-field-title {
	background-color:#fff;
	height:30px;
}

.bftb-celeb-gallery .views-field-title span.field-content a {
	font-family:"DINWeb-Medium";
	font-size:17px;
	color:#7ca;
}

.bftb-celeb-gallery .views-field-title {
	text-align:center;
	padding-top:15px;
}

.bftb-celeb-gallery .views-field-field-bfb-celeb-video-embed {
	background-color:#fff;
	padding:0 7px 7px;
}

.bftb-celeb-gallery table {
	border-spacing:0;
	border-color:transparent;
}

.bftb-celeb-gallery tr {
	border-bottom:none!important;
}

.bftb-celeb-gallery table {
	border-collapse:separate;
	border-spacing:10px 10px;
	margin:0 0 0 -15px;
}

				/*		VIDEO GALLERY STYLING		*/


.bftb-video-gallery .views-field-field-bfb-city-value, .bftb-video-gallery .views-field-field-bfb-team-value, .bftb-video-gallery .views-field-title {
	background-color:#fff;
	height:30px;
}

.bftb-video-gallery .views-field-field-bfb-team-value {margin-bottom:-15px;}
.bftb-video-gallery .views-field-field-bfb-city-value {margin-top:-15px;}

.bftb-video-gallery .views-field-field-bfb-city-value span.field-content a, .bftb-video-gallery .views-field-field-bfb-team-value span.field-content a, .bftb-video-gallery .views-field-title span.field-content a {
	font-family:"DINWeb-Medium";
	font-size:17px;
	color:#7ca;
}

.bftb-video-gallery .views-field-field-bfb-city-value, .bftb-video-gallery .views-field-field-bfb-team-value, .bftb-video-gallery .views-field-title {
	text-align:center;
	padding-top:15px;
	display:block;
	text-transform:capitalize;
}

.bftb-video-gallery .views-field-field-video-embed {
	background-color:#fff;
	padding:0 7px 0 7px;
}				

.bftb-video-gallery table {
	border-spacing:0;
	border-color:transparent;
}

.bftb-video-gallery tr {
	border-bottom:none!important;
}

.bftb-video-gallery table {
	border-collapse:separate;
	border-spacing:10px 10px;
	margin:0;
}

.bftb-video-gallery .views_exposed_form, .bftb-video-gallery .view-header {
	margin-left:10px;
}

.bftb-video-gallery .views_exposed_form input {
	background-color:#fff;
	border:0;
	padding:1px;
	height:25px;
	width:175px;
}

#edit-submit-campaign-bfb-2012 {
	background-color: #FFCD0A;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
	-khtml-border-radius: 15px;
	border-radius:15px;
	display:inline-block;
	color:#000;
	font-size:16px;
	text-decoration:none;
	font-family: 'DINWebCondBlack';
	cursor: pointer;
	border: none; 
	text-transform: capitalize;
	width:100px;
	float:none;
	padding:0;
	margin-top:15px;
}

.view-campaign-bfb-2012 div.view-content tbody tr:hover {
	background-color:transparent;
}

.view-campaign-bfb-2012 .pager {
	text-transform:capitalize;
}

#edit-field-state-value-wrapper input {
	width:50px;
}

				/*		SCHOOL GALLERY STYLING		*/

.node-type-campaign-bfb-2012 {
	
}

.node-type-campaign-bfb-2012 .content {
	width:600px;
	margin:0 auto;
}

.node-type-campaign-bfb-2012 .field-field-bfb-team, .node-type-campaign-bfb-2012 .field-field-bfb-city {
	text-transform:capitalize;
	
} 

.node-type-campaign-bfb-2012 .field-field-bfb-city .odd:after {
	content:", ";
}

.node-type-campaign-bfb-2012 .field-field-state {
	text-transform:uppercase;
	margin-bottom:10px;
}

.node-type-campaign-bfb-2012 .field-field-bfb-city, .node-type-campaign-bfb-2012 .field-field-state {
	display:inline-block;
	text-transform:capitalize;
}				

.node-type-campaign-bfb-2012 .field-field-bfb-team {
	font-size:20px;
	padding:5px 5px 5px 0;	
}

.node-type-campaign-bfb-2012 .field-field-video {
	display:block;
	margin:0 auto;
	padding:10px;
	background-color:#fff;
}

.node-type-campaign-bfb-2012 .field-field-video object {
	display:block;
	margin:0 auto;
}

.node-type-campaign-bfb-2012 .field-field-bfb-education,.node-type-campaign-bfb-2012 .field-field-bfb-together, .node-type-campaign-bfb-2012 .field-field-bfb-challenge {
	background-color:#fff;
	padding:10px;
	margin:10px 0;
}

.node-type-campaign-bfb-2012 .field-field-bfb-education .field-label,.node-type-campaign-bfb-2012 .field-field-bfb-together .field-label, .node-type-campaign-bfb-2012 .field-field-bfb-challenge .field-label {
	font-size:18px;
	padding-bottom:5px;
}

.node-type-campaign-bfb-2012 .field-field-bfb-education .field-items,.node-type-campaign-bfb-2012 .field-field-bfb-together .field-items, .node-type-campaign-bfb-2012 .field-field-bfb-challenge .field-items {
	padding-left:7px;
}


				/*		SHADOWBOX STYLING		*/
				
div#bio-content {
	padding:15px;
	background-color:#000;
}

.bio-content p {
	font-family: 'DINWeb-Medium';
	font-size:14px;
	line-height:1em;
	text-indent:2em;
	overflow:hidden;
	color:#fff;
}

h1 {
	color:#fff;
	margin:0;
	padding:0;
	text-align:center;
}



			/*		??? 					*/

			/*			 SECT. 				*/

			/*				 STYLING		*/
			

#node-738365 a {
	color:#D33936;
}

#node-738365 a:hover {
	text-decoration:underline;
}

#social {
  float: left;
}

#psa #caption {
  float: left;
  color: white;
  margin: 8px 10px 0px 20px;
}

#double-border {
	height:0px;
	width:100%;
	border-top:1px solid #000;
	border-bottom:1px solid rgba(100%,100%,100%,0.4);
	margin-bottom:20px;
}

#winners-content {
	height:120px;
	margin-bottom:15px;
}

#blog-header,
#winners-header {
	background-color:#000;
}

#blog-header h3,
#winners-header h3 {
	color:#fff;
	font-size:22px;
	padding:3px 10px 0px;
	margin-bottom:0;
}

#winners-content,
#blog-content {
	background-color:#EFC123;
}

#winners-content a span {
	display:none;
	position:absolute;
	bottom:473px;
	right:45px;
}

#winners-content a:hover span {
	display:block;
	color:#fff;
}

#text_feat {
	width:300px;
	float:left;
	margin:33px 0 0 10px;
}

#text_feat ul li a:hover {
	text-decoration:underline;
}

#video_feat {
	float:left;
	margin:75px 0 0 25px;
}

#video_feat iframe {
	width:475px;
	height:300px;
}

#text_feat h1, #text_feat h2 {
	text-transform:uppercase;
	color:#000;
}

#text_feat h1 {
	font-size:30px;
	letter-spacing:1px;
	font-family: 'DINWebCondMedium';
}

#text_feat h2 {
	font-size:23px;
	font-family: 'DINWeb-Bold';
}

#text_feat p {
	font-family: 'DINWeb-Medium';
	font-size:15px;
}

#text_feat ul {
	list-style:none;
	padding:0;
	margin:0;
}

#winners-last {
	text-align:right;
}

.school1, .school2, .school3, .school4, .school5, .school6 {
	display:none;
} 

.winners-pic1:hover {
	display:;
}

.winners-pic {
	width:109px;
	height:109px;
	padding:5px 10px;
	float:left;
}

.winners-pic1 {
	margin-left:15px;
}

.mustard-box {
	margin: 0 0 20px 35px;
}

.box-content p {
	margin-top:15px!important;
}

.mustard-box .box-header {
	background-color: #000;
	padding: 3px 10px 0px 10px;
}

.mustard-low {
	position:absolute;
	bottom:25px;
	right:75px;
}

.mustard-help {
	width:755px;
	text-align:center;
}

.mustard-help a {
	color:#D33936!important;
}

.mustard-help a:hover {
	text-decoration:underline!important;
}

.small-box .box-header h2 {
	color: #fff;
	font-size: 18px;
	margin: 0px;
}

.big-box .box-header h2 {
	color: #fff;
	font-size: 32x;
	font-family: 'DINWebCondMedium';
}

.mustard-box .box-content {
	background: #EFC123;
	padding: 1px;
}

.node p {
	color: black;
}

.sponsor2012 {
	margin-bottom:-5px;
}

.mustard-box .box-content ol {
	font-size: 20px;
	line-height: 18px;
	margin-right: 40px;
}

.mustard-box .box-content li {
	margin: 8px 0px 14px 0px;
}

.small-box .box-content p {
	text-align: center;
	margin-bottom: 2px !important;
}

.small-box .box-content img {
	margin-left: 85px;
	display: block;
}

.big-box { 
	width: 685px;
	margin-top: 10px;
}

.big-box p { 
	font-family: 'DINWeb-Medium';
	font-size: 24px;
	line-height: 26px;
	padding: 15px 40px 0px 40px;
	text-align: center;
}

.small-box {
	width: 215px;
	margin-right: 20px;
}

.small-box .box-content {
	padding: 6px;
	height: 120px;
	text-align: center;
	position: relative;
}

.big-box h3 {
	font-family: 'DINWebCondMedium';
	font-size: 26px;
	line-height: 28px;
	text-transform:uppercase;
	background: url('images/black-triangle.png') no-repeat left;
	padding: 5px 0 0 15px;
	margin: 0px 15px;
}

.big-box ul {
	color: white !important;
	background-color: #222;
	  -moz-border-radius:15px; 
  -webkit-border-radius:15px;
  -khtml-border-radius: 15px;
  border-radius:15px;
  padding: 10px 0px 3px 36px;
margin: 0px 7px 5px 7px;
}

.big-box ul li {
	margin-bottom: 15px;
}

.big-box ul li a {
	color: white !important;
}

#prizes, 
#judging-criteria {
  background-color: #222;
  -moz-border-radius:15px; 
  -webkit-border-radius:15px;
  -khtml-border-radius: 15px;
  border-radius:15px;
  margin: 20px 5px 7px 5px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 4px;
}

#prizes h2 {
  color: #78c848;
  text-transform: uppercase;
  font-size: 46px;
}

#prizes p {
  color: #fff;
  padding: 0px;
  margin-bottom: 5px;
  font-size: 19px;
  padding: 0px 75px;
}

#judging-criteria h3 {
	font-family: 'DINWebCondMedium';
	font-size: 30px;
	line-height: 32px;
	text-align: left;
	color: white;
	text-transform: none;
	background: url('images/green-triangle.png') no-repeat left;
	padding: 5px 0 0 22px;
	margin: 10px 15px 0px 15px;
}

#judging-criteria p { 
	font-family: 'DINWeb-Medium';
	font-size: 19px;
	line-height: 21px;
	text-align: left;
	color: white;
	padding: 5px 0 0 15px; 
	margin: 0px 23px;
}

#prizes #prizes-image {
  padding: 7px;
}

#prizes .pad-more {
  padding: 10px 150px 0px 150px;
}

.left { float: left; }
.right { float: right; }
.center-text { text-align: center; }
.left-text { text-align: left; }
.bold { font-weight: 600; }
.white { color: white; }
.green { color: #78c848; }
.center { 
	margin-left: auto;
	margin-right: auto;
}

.small-button {
	background-color: #000;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
	-khtml-border-radius: 15px;
	border-radius:15px;
	display:inline-block;
	color:#fff;
	font-size:15px;
	padding: 5px 10px 5px 10px;
	text-decoration:none;
	font-family: 'DINWebCondMedium';
	margin-top: 7px;
}

.submitted {
	display:none;
}

/*
	NEW USER SIGN UP & REGISTER FLOW
*/
	
#rl-wrap {margin:0 auto 50px;width:500px;}							/*	main components padding & margins */
#rl-content {padding:15px;}
.rl-header {padding:0;margin-top:25px;float:left;}
.rl-header h2 {padding:5px 15px 2px 15px!important;}

#rl-content legend {display:none;}									/*	fieldset & jquery display resets */
#rl-content fieldset {border:none;margin:0!important;padding:0;}
#rl-content .description {display:none;}
.invisible {display:none;}

#rl-content .form-submit {											/*	submit button declarations */
	padding: 1px 15px 0px;
	margin:0 0 10px 175px;
	border: none;
	cursor: pointer;
}

/*	USER PROCESS STYLES	*/

#bob-wrapper .bftb_step h1, 
#bob-wrapper .bftb_step h2 {font-family:'DINWeb-Medium';text-align:center;}
#bob-wrapper .bftb_step h1 {color:#000;font-size:31px;margin-top:5px;}
#bob-wrapper .bftb_step h2 {color:#333;font-size:20px;font-weight:400;margin-bottom:15px;}

/*	LABEL DECLARATIONS	*/
	
#rl-content .form-item label {width:200px;float:left;padding-top:5px}
#rl-content .form-item label.option {width:100%;}

/*	INPUT DECLARATIONS	*/
	
#edit-profile-receive-wrapper input, 
#edit-profile-newsletter-wrapper input {margin-right:10px;float:right;}
#rl-content input[type='checkbox'] {width:15px!important;float:left!important;}
#rl-content .form-item input {
	width:215px;
	float:right;
	border:none;
}
#rl-content .form-item input[type='text'], 
#rl-content .form-item input[type='password'] {
	height:25px;
	width:250px;
	margin:0 2px;
	float:left;
}

#edit-pass-1-wrapper {margin-bottom:0;}								/*	fixes margin gap issue	*/
#edit-pass-pass1-wrapper {margin-top:0;margin-bottom:10px;}
#edit-pass-pass2-wrapper {margin-top:0;}
#edit-profile-bday-wrapper {margin-top:-15px;}

/*	FLOAT CLEARS	*/

#rl-float, 
#rl-content .form-item {border:none;overflow:hidden;width:100%;} 	/*	clears floated tabs to avoid inline:block	*/

/*	FONT DECLARATIONS	*/

.rl-header h2 {
	font-family:'DINWeb-Medium';
	font-size:17px!important;
	font-weight:600;
	text-align:left;
	text-transform:uppercase;
}

#rl-content .form-item label { 
	font-family:'DINWeb-Medium';
	font-size:16px;
	font-weight:400;
	text-align:left;
}

#rl-content .form-submit {
	font-family:'DINWebCondMedium';
	font-size:16px;
	letter-spacing:1px;
}

#bob-wrapper .password-strength,
#bob-wrapper .password-confirm,
#bob-wrapper .password-description {
	font-family: "DINWeb-Medium";
	font-size:15px;
}

/*	BORDER RADIUS DECLARATIONS	*/

#rl-content {
	   -moz-border-bottom-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	 -khtml-border-bottom-right-radius:6px;
	        border-bottom-right-radius:6px;
	   
	    -moz-border-bottom-left-radius:6px;
	 -webkit-border-bottom-left-radius:6px;
	  -khtml-border-bottom-left-radius:6px;
		     border-bottom-left-radius:6px;

      	  -moz-border-top-right-radius:6px;
	   -webkit-border-top-right-radius:6px;
	    -khtml-border-top-right-radius:6px;
		       border-top-right-radius:6px;
}
#rl-content .form-item input {
		 -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	   -khtml-border-radius:3px;
			  border-radius:3px;
}
.rl-header h2 {
		  -moz-border-top-right-radius:6px; 
	   -webkit-border-top-right-radius:6px;
	    -khtml-border-top-right-radius:6px;
			   border-top-right-radius:6px;
			
		   -moz-border-top-left-radius:6px;
	    -webkit-border-top-left-radius:6px;
	     -khtml-border-top-left-radius:6px;
	            border-top-left-radius:6px;
}
#rl-content .form-submit {
	   -moz-border-radius:	12px; 
	-webkit-border-radius:	12px;
	 -khtml-border-radius:  12px;
		    border-radius:  12px;
}
#bob-wrapper .password-description {
		 -moz-border-radius:10px;
	  -webkit-border-radius:10px;
	   -khtml-border-radius:10px;
			  border-radius:10px;
}

/*	BOX-SHADOW DECLARATIONS	*/
	
.rl-shadow {
	box-shadow:			0px 20px 30px -10px #A3801C;
	-moz-box-shadow:	0px 20px 30px -10px #A3801C;
	-webkit-box-shadow:	0px 20px 30px -10px #A3801C;
}

/*	WHAT IS GOING ON ???  */
	
#bob-wrapper .password-strength,
#bob-wrapper .password-confirm {margin-top:40px;display:block;}
#bob-wrapper .password-description {margin-bottom:45px;}

#bob-wrapper .error {color:#ddd;}
#bob-wrapper .warning {color:#fff700}
#bob-wrapper .password-description {background-color:#E5AE00!important;}

/*	COLOR DECLARATIONS	*/
	
a.rl-header h2 				{color:#000!important;background-color:#EFC123;} 	/*	"register", "login" tabs' solid color	*/
a.rl-header h2:hover 		{color:#D33936!important;}							/*	"register", "login" tabs' hover color	*/
#rl-content 				{background-color:#EFC123;}							/*	form background color; must match "a.rl-header h2"	*/
#rl-content .form-submit 	{color:#000;background-color:#E5AE00;}				/*	submit button background color	*/
.inactive 					{background-color:#E5AE00!important;}				/*	darker background color for inactive tab	*/
