/* **general structure of page** */
/* wrapper (allover site)
/* header (allover site)
/* container (holds page-specific)
/* #footlockerHeader
/* footlockerLogo
/* #footlocker-nav(navigation) ul, li, .classes for each item (?)
/* #footlockerTop (clears positioning?)
/* #footlockerMain (contains content)
/* .footlockerBody
/* #footlockerPSA   (video)  style = float: right; padding: 0pt 0pt 10px 10px;
/* h3, p, ul, li, strong, a, (general content styles)
/* form #footlockerNominate1
/* table, tdbody, tr, td, input.styled, input#advancetonext
/* #footlockerFooter
*/

/*Development CSS */
.unpublished {
	display: none;
	}
	
.tabs {
	position: absolute;
	top: -300px !important;
	}

h2.title {
	display: none;
	}
	
.invisible {
	visibility:hidden;}	
/* general page settings */
	
#container {
	color: #FFFFFF;
	background-color: #000;
	width: 820px;
	height: auto;
	margin-top: -2em;
	}

/* NAVIGATION MENU */
#footlocker-nav {
	position: inherit;
	text-align: center;
}

#menu a {
	position: relative;
	/*margin-top: -2em !important;*/
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #333;
	padding: 0.25em .5em;
	-moz-text-shadow: 0.1em 0.1em 0.1em #000;
	-o-text-shadow: 0.1em 0.1em 0.1em #000;
	-webkit-text-shadow: 0.1em 0.1em 0.1em #000;
	-khtml-text-shadow: 0.1em 0.1em 0.1em #000;
	-ms-text-shadow: 0.1em 0.1em 0.1em #000;
	text-shadow: 0.1em 0.1em 0.1em #000; /* adds slight background shadow to menu items to make the text pop */
	font-size: 175%;
	}
#footlocker-nav a:hover, a:active, a:focus {
	color: #FF0033; /* standard Footlocker red*/
	}
	
/* END NAVIGATION MENU */

/* MAIN CONTENT positioning and general text settings */
#footlockerMain {
	float: left;
	padding: 0 0 0 -5px;
	margin: 2em 0 4em 0;
	background-color: #000;
	}

#footlockerMain p {
	color: #FFFFFF;
	margin-left: 2em;
	padding: 1%;
	line-height: 150%; /* increases legibility with standard DoSomething.org font; revise when the Footlocker font embed issue has been settled */ 
	}
	
#footlockerMain ul, ol{
	margin-left: 50px; /* adds indentation */
	}
	
#footlockerMain strong {font-weight: bold;}

#footlockerMain a {text-decoration: underline; color: #FFFFFF;} /*overrides standard DoSomething.org link coloring and style; no specification in the mock provided to EY */

/*these are the headers */
#footlockerMain h3 {
	font-size: 125%;
	text-transform: uppercase;
	/* background-image: url(TBD) no-repeat; in the mocks, there are images which are next to the headers, but I didn't include them in the beta, for reasons of fiddliness and time consumption */
	padding-left: 2em; /*moves text to the right of the background image */
	color: #F03;
}

/* CONTENT -- this is the only div in pages without any columns below */
#footlockerBodyTop {
	margin: 0 -30px 0 30px;
	padding: 0 0 0 23px;
	max-width: 666px;
	}
	
#footlockerBodyTop p {
	float: left;
	width: 670px;
	}

/* left column */
#footlockerBodyLeft {
	float: left;
	width: 45%;
	margin: -30px 0 0 55px;
	}
		
/* right column */
#footlockerBodyRight {
	float: right;
	width: 45%;
	position: relative;
	left: -10px;
	top: -30px;
	}
	
#footlockerBodyRight h3 {
	position: relative;
	left: -2em;
	}

/* FORM STYLING */
#webform-client-form-657919 input, textarea {width: 300px;}
	
#footlockerBodyRight #edit-submit,
/* #footlockerBodyRight */ #webform-component-next input {
	padding: 0.5em .25em;
	background: #FFFFFF;
	color: #FF0033;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 150%;
	border: 0;
	-moz-box-shadow: none;  
	-webkit-box-shadow: none;
	box-shadow: none; /* strips grey frame */
	margin: 0 3em;
	width: 200px;
	}

#webform-client-form-65791 input[type="submit"]:hover, 
#webform-client-form-65791 input[type="submit"]:focus, 
#webform-client-form-65791 input[type="button"]:hover, 
#webform-client-form-65791 input[type="button"]:focus {
	background-color: #FF0033;
	color: #FFFFFF;
	}
	/* flips color and background settings when user interacts with button */
	
#webform-client-form-65791 input, textarea {
	padding: .05em;  
	border: solid 1px #333;  
	outline: 0;  
	background: #FFFFFF; 
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; /*adds grey frame to inputs to help them stand out */
	font-family: Georgia,Arial,Verdana,sans-serif; /* should correct the weirdness of the default input font */
	
	}

#webform-client-form-65791 input:hover, input:focus {
	border: 1px #FF0033 solid; /*adds brand red border on user interaction */
	padding: 0.15em; /* prevents "wiggle" */
	outline: 0;
	}
	
#webform-client-form-65791 textarea:hover, textarea:focus {
	border: 1px #FF0033 solid; /*adds brand red border on user interaction */
	padding: 0.05em; /* prevents "wiggle" */
	outline: 0;
	}

/* buttons */
a.largelink {
	padding: 0.5em .75em;
	background: #FFFFFF;
	color: #FF0033 !important;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 150%;
	line-height: 200%;
	text-align: center;
	width: 300px;
	}
	
a.largelink:hover, a.largelink:focus{
	background: #FF0033;
	color: #FFFFFF !important;
	}

/* FOOTER */