/* **general structure of page** */
/* wrapper (allover site)
/* header (allover site)
/* container (holds page-specific)
/* #footlockerHeader
/* footlockerLogo
/* #footlocker-nav(navigation) ul, li, .classes for each item (?)
/* #footlockerTop (clears positioning?)
/* #footlockerMain (contains content)
/* .footlockerBody
/* #footlockerPSA   (video)  style = float: right; padding: 0pt 0pt 10px 10px;
/* h3, p, ul, li, strong, a, (general content styles)
/* form #footlockerNominate1
/* table, tdbody, tr, td, input.styled, input#advancetonext
/* #footlockerFooter
*/

/*	MOCKINGBIRD TWO	*/
/*developer crud to hide */
h2.title {
	display: none;
	}
	
.tabs {
	position: relative;
	top: -100px;}
	
.unpublished {
	display: none;
	color: transparent;
	}
	
.tabs {
	position: absolute;
	margin-top: -2000px;
	}
/* end developer crud */
	
#container {
	color: #000;
	background-color: #fff;
	width: 751px;
	height:auto;
	}

#footlockerBodyMain a {
	text-decoration: underline;
	color: #000 !important;
	}
	
#footlockerBodyMain a:active, a:hover, a:focus {
	color: #F03;
	}

/* NAVIGATION MENU */
#footlocker-logo {
	position: relative;
	top: -3em;
	height: auto;
	}
	/* moves logo, pulled from the PHP, up */
	/*revisit width for beta/launch */
#menu {
	position: relative;
	top: -90px;
	left: 50px;
	}
/* moves the navigation menu up to overlap with the Footlocker logo */
#menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	padding: 0 .5em;
	font-size: 175%;
	}

#footlocker-nav a:hover, a:active {
	color: #FF0033; /* Footlocker brand red */
	}
	
/* END NAVIGATION MENU */

/* MAIN CONTENT */
#footlockerMain {
	float: left;
	padding: 0;
	margin: -65px 0 0 -15px;
	/* shifts div so the vertical stripes at the left are aligned with the menu */
	background:url("http://www.dosomething.org/sites/all/micro/footlocker/leftmargin.png") repeat-y;
	/* do not specify background color or the horizontal line in the menu gets covered up */ 
	}

#footlockerMain p {
	color: #000;
	padding: 1%;
	line-height: 150%;
	/* increases legibility when using DoSomething.org default font, revisit with Footlocker brand font */
	}
	
/*these are the headers */
#footlockerMain h3 {
	color: #F03;
	font-size: 125%;
	text-transform: uppercase;
	line-height: 150%;
}

/* main information */
#footlockerBodyTop {
	margin: 30px -30px 0 30px;
	padding: 0 0 0 23px;
	max-width: 680px;
		}
#footlockerBodyTop p {
	float: left;
	width: 680px;
	}

/* left column */
#footlockerBodyLeft {
	float: left;
	width: 50%;
	margin: -30px 0 0 55px;
	}
	
#footlockerBodyLeft ul, ol{
	margin-left: 50px;
	}
		
/* right column */
#footlockerBodyRight {
	float: right;
	width: 45%;
	position: relative;
	top: -30px;
	margin-right: -5em;
	}
	
#footlokerBodyRight h3 {
	margin-left: -2em;
	}

/* FORM STYLING */
#webform-client-form-657919 input, textarea {max-width: 300px;}
	
#webform-client-form-657919 input[type="button"], #webform-client-form-657919 #edit-submit {
	padding: 0.5em .25em;
	background: #fff;
	color: #F03;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 150%;
	border: 0;
	-moz-box-shadow: none;  
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 3em;
	width: 200px;
	}

#webform-client-form-657919 #edit-submit {margin: 0 auto;}

#webform-client-form-657919 input[type="button"]:hover, input[type="button"]:focus, #edit-submit:hover, #edit-submit:focus {
	background-color: #F03;
	color: #fff;
	}
	
#webform-client-form-65791 input, textarea {
	padding: .05em;  
	border: solid 1px #333;  
	outline: 0;  
	background: #FFFFFF; 
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
	}

#webform-client-form-65791 input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px #F03 solid;
	padding: .05em;
	outline: 0;
	}

/* buttons */
a.largelink {
	text-transform: uppercase;
	text-decoration: none;
	color: #F03;
	padding: 0.3em 1em;
	font-size: 175%;
	text-align: center;
	background-color: #fff;
	}
	
a.largelink:hover {
	background-color:#F03;
	color: #fff;
	}