.tabs {
  position: absolute;
  right:0px;
  top: 0px;
  width: 210px;
}

#header-message {
  position: absolute;
  top: -18px;
  left: 0px;
}

#block-ds_signup-0 {
  z-index: 1;
}

#hunt {
  background-color: #333;
  width: 846px;
  padding: 13px 17px;
  margin: 135px auto 0 auto;
  position: relative;
}

#main-wrapper, #header {
  padding: 0;
}

#main #content {
  margin: 40px 0 0 0;
}

.node.node-unpublished {
  background-color: transparent;
}

.bgimage-gradient {
  /*background: url(background.jpg) repeat 0 0;*/
  background-color: #E2E2E2;
}

.shadow {
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.rounded {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; /* future proofing */
  -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

#node-form input[type="text"], #webform-client-form-651742 input[type="text"] {
  width: 230px;
}

#hunt-signup {
  position: relative;
  z-index: 4;
  background-color: #333;
  color: #FFF;
  padding: 10px;
  float: right;
  margin-left: 20px;
  min-height: 200px;
  max-width: 262px;
}

#main #content #hunt-signup a {
  color: #FFF;
  text-decoration: underline;
}

#main #content #hunt-signup p {
  color: #FFF;
}

#hunt-signup input[type="submit"] {
  background-color: #DC291E;
  border: 0;
  cursor: pointer;
  margin-left: 122px;
}

#page #hunt a.button,
#page #hunt a.button:link,
#page #hunt a.button:visited,
#page #hunt a.button:hover,
#page #hunt a.button:active {
  color: white;
  text-decoration: none;
}

#page #hunt input.button-medium,
#page #hunt a.button-medium {
  font-size: 1.45em;
  line-height: 1.4em;
  padding: 0 12px;
  width: 112px;
  height: 38px;
  color: white;
}

#page #hunt a.button-long {
  font-size: 1.05em;
  line-height: 1.4em;
  padding: 3px 20px;
  color: white;
  background-color: #DC291E;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

#page #hunt a.learn-more {
  float: right;
  margin-right: 13px;
}



#hunt-logo {
  position: absolute;
  top: 0px;
}

#hunt-nav {
  position: absolute;
  top: 105px;
  height: 30px;
  width: 880px;
  background: red;
}

#hunt .content {
  min-height: 500px;
}

#hunt .content #hunt-node-body {
  padding: 10px 17px;
  z-index: 3;
  position: relative;
}

ul.map-marker {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

body.page-scavenger-hunt ul.map-marker {
  margin-left: -20px;
}

ul.map-marker li {
  background-image: url(list-icon-marker.png);
  background-repeat: no-repeat;
  background-position: 1em 0;
  padding-left: 2.8em;
  padding-top: 6px;
  min-height: 22px;
}

#main #content a {
  color: #DC291E;
}

img.header {
  margin-left: -17px;
  margin-bottom: -17px;
}

img.social {
  vertical-align: top;
  padding-top: 4px;
}

div.messages.status {
  background-color: #E7E8E9;
  background-image: none;
  border: none;
}

div.longline {
  position: absolute;
  right: -6px;
  top: 0px;
  height: 100%;
  width: 8px;
  background-color: #333;
}

img.whodo {
  /*float: left;*/
  padding-right: 30px;
  padding-left: 20px;
}

/*div.whodo-rightspace {
  padding-bottom: 50px;
}*/

#hunt-node-body .opening {
  width: 436px;
  padding-left: 30px;
  padding-bottom: 20px;
}

body.page-scavenger-hunt div.share {
  padding-left: 150px;
}

div.col-begin {
  width: 285px;
  float: left;
}

div.hunt-col {
  width: 31%;
  float: left;
}

div.col-grand-prize {
  padding: 0 23px;
}

body div#page-wrapper #page #main-wrapper #main, body div#page-wrapper #page p {
  font-family: Arial,Helvetica,sans-serif;
  color: #545454;
}

body div#page-wrapper #page label {
  font-family: Arial,Helvetica,sans-serif;
}

#huntnav {
  position: absolute;
  top: -54px;
  left: -26px;
  width: 1000px;
}

#huntnav a {
  background: url(top-nav.png) no-repeat;
  display: block;
  float: left;
  height: 62px;
  text-indent: -99em;
}

#huntnav a.home {
  width: 152px;
  background-position: 0 -70px;
}

#huntnav a.home.active, #huntnav a.home:hover {
  background-position: 0 0;
}

#huntnav a.challenges {
  width: 225px;
  background-position: -153px -70px;
}

#huntnav a.challenges.active, #huntnav a.challenges:hover {
  background-position: -153px 0;
}

#huntnav a.leaderboard {
  width: 265px;
  background-position: -379px -70px;
}

#huntnav a.leaderboard.active, #huntnav a.leaderboard:hover {
    background-position: -379px 0;
}

#huntnav a.faqs {
  width: 120px;
  background-position: -645px -70px;
}

#huntnav a.faqs.active, #huntnav a.faqs:hover {
    background-position: -645px 0;
}

#huntnav a.prizes {
  width: 161px;
  background-position: -766px -70px;
}

#huntnav a.prizes.active, #huntnav a.prizes:hover {
  background-position: -766px 0;
}

#home-main {
  position: relative;
}

div.bg-body-top {
  background: url(bg-body-top.png) no-repeat;
  width: 846px;
  height: 83px;
  position: absolute;
  z-index: 2;
}

div.bg-body-bottom {
  background: url(bg-body-bottom.png) no-repeat;
  width: 846px;
  height: 160px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

a.lenovo {
  position: absolute;
  display: block;
  height: 69px;
  width: 217px;
  text-indent: -99em;
  right: 0px;
  top: 0px;
}

#main-wrapper div.computer p {
  width: 400px;
  margin: 0 auto;
}

table.computers p strong {
  color: #EB2626;
}

table.computers {
  text-align: center;
}

img.youre-going {
  float: left;
  padding-right: 18px;
}

.center {
  text-align: center;
}

p.trip-descrip {
  line-height: normal;
  font-size: 1.5em;
  text-align: center;
}

img.grand-prize-photo {
  display: block;
  margin: 0 auto;
}

div.grand-prize {
  padding-top: 40px;
}

img.joined-forces {
  padding-bottom: 30px;
}

img.subheader {
  padding-bottom: 15px;
}

img.computers {
  padding-top: 60px;
}

table.computers tr.row1 td.col2 img {
  margin-bottom: -26px;
}

table.computers tr.row2 td.col2 img {
  margin-bottom: -23px;
}

table.computers .col1 {
  padding-right: 10px;
}

table.computers .row3 .col2 img {
  margin-bottom: 16px;
}

table.computers .row4 .col2 img {
  margin-bottom: 40px;
}

/*body.page-scavenger-hunt iframe {
  margin-bottom: 128px;
}*/

div.sub-nav {
  height: 28px;
  background-color: #EB2626;
  float: right;
  margin-right: -6px;
}

div.teammates {
  position: relative;
  background-color: #EB2626;
  float: right;
  width: 265px;
  margin-right: 2px;
  margin-top: 40px;
}

div.teammates div.top {
  position: absolute;
  right: -19px;
  border-bottom: 20px solid #EB2626;
  border-right: 20px solid #E2E2E2;
  font-size: 0px;
  line-height: 0%;
}

div.teammates div.bottom {
  position: absolute;
  right: -19px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #EB2626;
  font-size: 0px;
  line-height: 0%;
}

div.teammates div.middle {
  background-color: #EB2626;
  width: 284px;
  min-height: 72px;
  padding-bottom: 17px;
}

div.teammates div.middle img {
  padding-bottom: 10px;
}

div.teammates div.name {
  padding-left: 15px;
  padding-bottom: 5px;
  color: #FFF;
  font-size: 1.3em;
}

img.rhombus {
  float: right;
  margin-right: -14px;
  margin-top: -5px;
}

#main #content div.sub-nav a {
  color: #FFF;
  text-decoration: underline;
}

div.sub-nav a.next {
  padding-right: 25px;
}

div.sub-nav div.space {
  height: 5px;
}

#main #content h2 {
  color: #000;
  font-size: 2.5em;
}

body.page-scavenger-hunt-leaderboard #main #content div#hunt-node-body {
  padding-top: 70px;
  padding-bottom: 70px;
}

body.page-scavenger-hunt-leaderboard h3 {
  margin: 0;
  font-size: 1.3em;
}

h2.team-name {
  padding-top: 26px;
  max-width: 500px;
}

body.page-scavenger-hunt-leaderboard div.number, body.page-scavenger-hunt-leaderboard img.rankheader {
  float: left;
}

body.page-scavenger-hunt-leaderboard div.number {
  color: #000;
  font-size: 2.3em;
  padding-top: 12px;
}

body.page-scavenger-hunt-leaderboard div.place div.number {
  padding-right: 30px;
}

body.page-scavenger-hunt-leaderboard div.points div.number {
  padding-left: 30px;
}

body.page-scavenger-hunt-leaderboard div.place img.rankheader {
  padding-right: 45px;
}

div.leaderboard-school-info {
  padding-left: 25px;
  padding-top: 35px;
  float: left;
}

div#map_canvas {
  width: 470px;
  height: 300px;
  margin-top: 30px;
}

div.challenges div.description {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: -20px;
  padding-top: 28px;
}

#webform-client-form-651742 #webform-component-your-friends-emails {
  border: 0;
}

#webform-component-your-email {
  padding: 0 .5em .5em .5em;
}

#edit-submitted-your-email-wrapper {
  margin-top: 0;
}

#webform-component-your-friends-emails {
  padding-top: 0;
}

#twitter-fb-links {
  display: inline;
}

#sb-body {
  background: white;
  padding: 10px;
  color: black;
}

#sb-body-inner {
  position: static;
}

#sb-loading {
  background: white;
}

#sb-loading-inner {
  color: black;
}

#sb-wrapper-inner {
  border: 0;
}

#sb-body {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -khtml-border-radius: 20px;
  padding: 0;
  background-color: #E2E2E2;
}

#sb-body-inner {
  text-align: center;
}

#sb-player {
  padding: 10px;
}

#hunt-signup .small {
  font-size: .75em;
}
